<!DOCTYPE html>
<html lang="en">
<include file="Public:layerHeader"/>
<style>
    #LAY-Benefit-Benefit-departmentBenefitData .conData td, #LAY-Benefit-Benefit-departmentBenefitData .conData th {
        text-align: center;
    }

    .cus_car .layui-card-body {
        padding: 5px 10px;
        text-align: center;
    }

    .cus_car .layui-card-header {
        height: 32px;
        line-height: 32px;
        text-align: center;
    }
    .cus_car span{
        font-size: 16px;
    }

    .fk10 {
        width: 10%;
        float: left;
    }

    .fk13 {
        width: 13%;
        float: left;
    }

    .fk16 {
        width: 16%;
        float: left;
    }
    .benefit_fee .layui-col-md2{
        width: 20%;
    }
    .benefit_fee .layui-card-body {
        padding: 10px 5px;
    }
    .benefit_fee .layui-card-header {
        border: 1px solid #F1F1F1;
        padding: 0 5px;
        font-size: 14px;
    }
    .benefit_fee .layui-card-body {
         border: 1px solid #F1F1F1;
    }
    .text-center{
         text-align: center !important;
    }

</style>
<script>
    var departmentBenefitData = "{$departmentBenefitData}";
    var benefit_5_data = "{$benefit_5_data}";
</script>
<body style="background: #F2F2F2;">
<div class="containDiv" id="LAY-Benefit-Benefit-departmentBenefitData" style="margin-bottom: 40px;">
    <div class="layui-row layui-col-space5 cus_car">
        <div class="fk10">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-zongshu" style="color: #1E9FFF;font-size: 16px;"></i>
                    <span class="depart_nums">{$depart_nums}</span>
                </div>
                <div class="layui-card-body">
                    科室设备总数
                </div>
            </div>
        </div>
        <div class="fk10">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-tongjifenxi1" style="color: green;font-size: 14px;"></i>
                    <span class="benefit_nums">{$benefit_nums}</span>
                </div>
                <div class="layui-card-body">
                    效益设备总数
                </div>
            </div>
        </div>
        <div class="fk13">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-rmb" style="color: #FFB800;font-size: 16px;"></i>
                    <span class="benefit_price">{$benefit_total_price}</span>
                </div>
                <div class="layui-card-body">
                    效益设备总值（万元）
                </div>
            </div>
        </div>
        <div class="fk16">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-zongshouru3" style="color: green;font-size: 16px;"></i>
                    <span class="benefit_income">{$benefit_income}</span>
                </div>
                <div class="layui-card-body">
                    效益设备总收入（万元）
                </div>
            </div>
        </div>
        <div class="fk16">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-zongzhichu1" style="color: red;font-size: 16px;"></i>
                    <span class="benefit_cost">{$benefit_cost}</span>
                </div>
                <div class="layui-card-body">
                    效益设备总支出（万元）
                </div>
            </div>
        </div>
        <div class="fk16">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-leijishouyi" style="color: blue;font-size: 18px;"></i>
                    <span class="benefit_profit">{$benefit_profit}</span>
                </div>
                <div class="layui-card-body">
                    效益设备总利润（万元）
                </div>
            </div>
        </div>
        <div class="fk16">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="tecevicon tecev-icon03" style="color: red;"></i>
                    <span class="benefit_huiben">{$benefit_huiben}</span>
                </div>
                <div class="layui-card-body">
                    效益设备回本情况
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">科室已回本效益设备统计</div>
                <div class="layui-card-body" style="height: 300px;" id="benefit_5"></div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="fl">
                                <i class="layui-icon">&#xe62d;</i> 科室已回本效益设备收支明细
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <table class="layui-table" lay-size="sm">
                                <colgroup>
                                    <col width="20%">
                                    <col width="12%">
                                    <col width="12%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="8%">
                                    <col width="8%">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-center">设备名称</th>
                                    <th class="text-center">设备编号</th>
                                    <th class="text-center">设备型号</th>
                                    <th class="text-center">设备价格(万元)</th>
                                    <th class="text-center">收入(万元)</th>
                                    <th class="text-center">支出(万元)</th>
                                    <th class="text-center">利润(万元)</th>
                                    <th class="text-center">预计使用年限</th>
                                    <th class="text-center">实际回本年限</th>
                                </tr>
                                </thead>
                                <tbody id="huiben_list">

                                </tbody>
                                <tbody id="notHuibenData">
                                <td colspan="9" class="text-center">暂无相关数据</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" value="{$departid}" name="departid">
        <div class="layui-black" style="margin: 20px 0;">
            <label class="layui-form-label" style="width: 140px;">统计特定年份：</label>
            <div class="layui-input-inline" style="width:110px;">
                <input class="layui-input" placeholder="选择统计年份" readonly style="cursor: pointer;" name="year" id="departBenefitDataYearDate">
            </div>
            <div class="layui-inline" style="margin-left: 10px;">
                <button class="layui-btn" type="button" lay-submit="" lay-filter="departBenefitDataSearch" id="departBenefitDataSearch">
                    <i class="layui-icon">&#xe615;</i> 确 定
                </button>
            </div>
        </div>
    </form>

    <div class="layui-row layui-col-space5">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">累计收益统计（万元）</div>
                <div class="layui-card-body" style="height: 300px;" id="benefit_1"></div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">收支结余统计（万元）</div>
                <div class="layui-card-body" style="height: 300px;" id="benefit_2"></div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">效益设备收益统计（万元）</div>
                <div class="layui-card-body" style="height: 240px;" id="benefit_3"></div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="fl">
                                <i class="layui-icon">&#xe62d;</i> 科室效益设备收支明细
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div id="departBenefitLists" lay-filter="departBenefitLists"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">支出TOP5设备统计（万元）</div>
                <div class="layui-card-body" style="height: 200px;" id="benefit_4"></div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">维保费用支出统计（万元）</div>
                <div class="layui-card-body" style="height: 200px;" id="benefit_6"></div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space5">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">支出TOP5设备费用统计（万元）</div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5 benefit_fee">
                        <div class="layui-col-md2">
                            <div class="layui-card">
                                <div class="layui-card-header" id="benefit_4_1_assets_name">-</div>
                                <div class="layui-card-body" style="height: 250px;" id="benefit_4_1"></div>
                            </div>
                        </div>
                        <div class="layui-col-md2">
                            <div class="layui-card">
                                <div class="layui-card-header" id="benefit_4_2_assets_name">-</div>
                                <div class="layui-card-body" style="height: 250px;" id="benefit_4_2"></div>
                            </div>
                        </div>
                        <div class="layui-col-md2">
                            <div class="layui-card">
                                <div class="layui-card-header" id="benefit_4_3_assets_name">-</div>
                                <div class="layui-card-body" style="height: 250px;" id="benefit_4_3"></div>
                            </div>
                        </div>
                        <div class="layui-col-md2">
                            <div class="layui-card">
                                <div class="layui-card-header" id="benefit_4_4_assets_name">-</div>
                                <div class="layui-card-body" style="height: 250px;" id="benefit_4_4"></div>
                            </div>
                        </div>
                        <div class="layui-col-md2">
                            <div class="layui-card">
                                <div class="layui-card-header" id="benefit_4_5_assets_name">-</div>
                                <div class="layui-card-body" style="height: 250px;" id="benefit_4_5"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="__PUBLIC__/js/echarts.min.js"></script>
<script>
    layui.use('controller/benefit/benefit/departmentBenefitData', layui.factory('controller/benefit/benefit/departmentBenefitData'));
</script>