<!--监护仪-->
<h2 style="text-align: center; margin-bottom: 25px;"><!--中山大学附属第一医院东院-->婴儿培养箱质量控制检测原始记录表</h2>
<div>
    <span class="fl">检测报告编号：<em>{$qsInfo.plan_num}</em></span>
    <span class="fr">制表日期：<em>{$date}</em></span>
</div>
<br/>
<form class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="150">
            <col width="550">
            <col width="200">
            <col width="550">
        </colgroup>
        <tbody>
        <tr>
            <th colspan="4" style="text-align: left !important;">一、设备基本信息</th>
        </tr>
        <tr>
            <th>使用科室</th>
            <td><em>{$asInfo.department}</em></td>
            <th>质控计划名称</th>
            <td><em>{$qsInfo.plan_name}</em></td>
        </tr>
        <tr>
            <th>检测依据</th>
            <td colspan="3"><em>{$qsInfo.basis}</em></td>
        </tr>
        <tr>
            <th>项目类型</th>
            <th>被检设备</th>
            <th colspan="2">检测仪器（标准器、模拟器）</th>
        </tr>
        <tr>
            <th>设备名称</th>
            <td><em>{$asInfo.assets}</em></td>
            <td colspan="2"><em>{$qsInfo.instrument}</em></td>
        </tr>
        <tr>
            <th>品牌</th>
            <td><em>{$asInfo.brand}</em></td>
            <th>规格 / 型号</th>
            <td><em>{$asInfo.model}</em></td>
        </tr>
        <tr>
            <th>设备编号</th>
            <td><em>{$asInfo.assnum}</em></td>
            <th>产品序列号</th>
            <td><em>{$asInfo.serialnum}</em></td>
        </tr>
        <tr>
            <th>启用日期</th>
            <td><em>{$qsInfo.start_date}</em></td>
            <th>上次质控日期</th>
            <td><em>{$asInfo.test_date}</em></td>
        </tr>
        <tr>
            <th colspan="4" style="text-align: left !important;">二、性能检测、校准、记录</th>
        </tr>
        <tr>
            <th>外观功能</th>
            <td class="no-padding-td" colspan="3" style="text-align: left!important;">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                &nbsp;&nbsp;&nbsp;&nbsp;不符合情况说明：
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
        <colgroup>
            <col width="130">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="250">
        </colgroup>
        <tbody>
        <tr>
            <th colspan="12"  style="text-align: left !important;">&emsp; 1.温度检测</th>
        </tr>
        <tr>
            <th>设定温度Tk</th>
            <th  colspan="10">34℃(每3分钟记录1次）</th>
            <th >平均值（a）</th>
        </tr>
        <tr>
            <th>显示温度Tx</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Txa=</td>
        </tr>
        <tr>
            <th>中心温度测试点T1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>T1a=</td>
        </tr>
        <tr>
            <th>测试点T2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>T2a=</td>
        </tr>
        <tr>
            <th>测试点T3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>T3a=</td>
        </tr>
        <tr>
            <th>测试点T4</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>T4a=</td>
        </tr>
        <tr>
            <th>测试点T5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>T5a=</td>
        </tr>
        <tr>
            <th>检测项目</th>
            <th colspan="5">允许误差值</th>
            <td colspan="5">实际偏差值</td>
            <td colspan="1">检测结果</td>
        </tr>
        <tr>
            <th>温度偏差值</th>
            <th colspan="5">|Txa-T1a|≤0.8℃</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>温度均匀性</th>
            <th colspan="5">|T2a/3a/4a/5a-T1a|max≤0.8℃</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>波动度</th>
            <th colspan="5">|T1s-T1a|max≤0.5℃</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>温控偏差</th>
            <th colspan="5">|Tk-T1a|≤1.5℃</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th colspan="12"  style="text-align: left !important;">&emsp; 2.声级检测</th>
        </tr>
        <tr>
            <th>检测项目</th>
            <th colspan="5">允许误差值</th>
            <td colspan="5">实际偏差值</td>
            <td colspan="1">检测结果</td>
        </tr>
        <tr>
            <th>箱内正常噪音检测</th>
            <th colspan="5">≤60dB</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>箱内报警噪音测试</th>
            <th colspan="5">≤80dB</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>报警声级测试 (3米）</th>
            <th colspan="5">≥65dB</th>
            <td colspan="5"></td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>3.湿度检测</th>
            <td colspan="3">设定值：</td>
            <th colspan="4">容许误差： ＜10%</th>
            <td colspan="3">实际值：</td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>4.报警测试</th>
            <td colspan="3">断电报警</td>
            <td colspan="4"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
            <td colspan="3">超温报警</td>
            <td colspan="1"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
            </div></td>
        </tr>
        <tr>
            <th>5.检测结论 </th>
            <td colspan="11"><div class="layui-inline">
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 合格
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不合格
            </div></td>
        </tr>
        <tr>
            <th>备注： </th>
            <td colspan="11"></td>
        </tr>
        </tbody>
    </table>
    <!--签字表-->
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
        <colgroup>
            <col>
            <col>
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th colspan="3" style="text-align: left !important;">三、经办工程师及验收人员意见及签字</th>
        </tr>
        <tr>
            <td colspan="3" class="text-left">
                评分：
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>1分、
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>2分、
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>3分、
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>4分、
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>5分
            </td>
        </tr>
        <tr>
            <th>设备使用部门负责人意见及签字 </th>
            <th>经办工程师意见及签字</th>
            <th>设备科意见及签字</th>
        </tr>
        <tr>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 100px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 100px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 100px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</form>