<style>
    #LAY-Assets-Statistics-onUseAssetsSurvey .listTitle {
        position: relative;
    }
    #LAY-Assets-Statistics-onUseAssetsSurvey .layui-table thead tr th,#LAY-Assets-Statistics-onUseAssetsSurvey .layui-table tbody tr td{
        text-align: center;
    }
</style>
<?php if($menuData = get_menu_name('Assets','AssetsStatis','onUseAssetsSurvey')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<script>
    //解决ie placeholder兼容性
    $(function(){ $('input, textarea').placeholder(); });
</script>
<div class="layui-fluid" id="LAY-Assets-AssetsStatis-onUseAssetsSurvey" >
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">&#xe615;</i> 查询</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-form-item spacingBalance">
                            <div class="layui-inline">
                                <label class="layui-form-label">添加时间：</label>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input class="layui-input" placeholder="开始日期" style="cursor: pointer;" value="{$startTime}"
                                           name="onUseAssetsSurveyStartDate" id="onUseAssetsSurveyStartDate">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input class="layui-input" placeholder="结束日期" style="cursor: pointer;" value="{$endTime}"
                                           name="onUseAssetsSurveyEndDate" id="onUseAssetsSurveyEndDate">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 120px;">总金额区间：</label>
                                <div class="layui-input-inline" style="width: 120px;" >
                                    <input type="text" name="onUseAssetsSurveyPriceMin" placeholder="￥" lay-verify="priceMin"  class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 120px;">
                                    <input type="text" name="onUseAssetsSurveyPriceMax" placeholder="￥" lay-verify="priceMax"  class="layui-input">
                                </div>
                            </div>
                            <include file="Public:hospital_search"/>
                            <div class="layui-inline" style="text-align: center;margin-left: 10px;">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="onUseAssetsSurveySearch"><i
                                                class="layui-icon">&#xe615;</i> 搜 索
                                        </button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row table-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> 列表
                    </div>
                </div> 
                <div class="layui-card-body">
                    <div class="contain ">
                        <div class="reportHeader">
                            <div class="onUseAssetsSurveyReportTitle"></div>
                            <div class="onUseAssetsSurveyReportConditions"></div>
                        </div>
                        <div id="onUseAssetsSurveyConData" lay-filter="onUseAssetsSurveyConData"></div>
                        <form class="layui-form">
                            <div class="layui-inline" style="margin-left: 35%;">
                                <label class="layui-form-label">图形样式</label>
                                <div class="layui-input-inline" >
                                    <select name="type" lay-search="" lay-filter="type">
                                        <option value="">请选择一个样式</option>
                                        <option value="pie" selected>饼图</option>
                                        <option value="bar">柱形图</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div id="onUseAssetsSurveyMain" style="width: auto;height:800px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="LAY-Assets-AssetsStatis-onUseAssetsSurveyToolbar">
    <div class="layui-btn-container">
        <?php if($menuData = get_menu('Assets','AssetsStatis','exportUsingAssetsSurvey')):?>
        <button class="layui-btn layui-btn-sm" lay-submit lay-filter="exportData" id="exportData" data-url="{$menuData['actionurl']}">
            <i class="layui-icon">&#xe61e;</i>
            {$menuData['actionname']}
        </button>
        <?php endif?>
    </div>
</script>
<script src="__PUBLIC__/js/echarts.js?v={:mt_rand(1,54561)}"></script>
<script>
    layui.use('assets/statistics/onUseAssetsSurvey', layui.factory('assets/statistics/onUseAssetsSurvey'));
</script>



