<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include file="Public:layerHeader"/>
    <style>
        .read-table th{
            width: 18%;
        }
    </style>
</head>
<body>
<div class="containDiv">
    <div class="margin-bottom-15">
        <div class="layui-elem-quote">基本信息</div>
        <table class="layui-table read-table" lay-even lay-size="sm">
            <tbody>
            <tr>
                <th>出库人：</th>
                <td>{$outWareInfo.out_user}</td>
            </tr>
            <tr>
                <th>出库日期：</th>
                <td>{$outWareInfo.out_date}</td>
            </tr>
            <tr>
                <th>出库单号：</th>
                <td>{$outWareInfo.out_num}</td>
            </tr>
            <tr>
                <th>出库数量：</th>
                <td>{$outWareInfo.nums}</td>
            </tr>
            <tr>
                <th>出库金额：</th>
                <td>{$outWareInfo.total_price}</td>
            </tr>
            <tr>
                <th>领用科室：</th>
                <td>{$outWareInfo.department}</td>
            </tr>
            <tr>
                <th>安装调试日期：</th>
                <td>{$debugInfo.debug_start_date} ~ {$debugInfo.debug_end_date}</td>
            </tr>
            <tr>
                <th>安装调试地点：</th>
                <td>{$debugInfo.debug_area}</td>
            </tr>
            <tr>
                <th>安装调试人员：</th>
                <td>{$debugInfo.debug_user}</td>
            </tr>
            <tr>
                <th>在场人员：</th>
                <td>{$debugInfo.attendants_user}</td>
            </tr>
            <tr>
                <th>备注：</th>
                <td>{$debugInfo.debug_desc}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="margin-bottom-15">
        <div class="layui-elem-quote">
            设备明细
        </div>
        <table class="layui-table read-table-l" style="margin-top: 0" lay-even lay-size="sm">
            <colgroup>
                <col width="10%">
                <col width="30%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
            </colgroup>
            <tr>
                <th style="text-align: left !important;">序号</th>
                <th style="text-align: left !important;">设备名称</th>
                <th style="text-align: left !important;">单位</th>
                <th style="text-align: left !important;">数量</th>
                <th style="text-align: left !important;">单价</th>
                <th style="text-align: left !important;">总价</th>
                <th style="text-align: left !important;">是否进口</th>
            </tr>
            <tbody>
            <volist name="assets" id="vo">
                <tr>
                    <td>{$key+1}</td>
                    <td>{$vo.assets_name}</td>
                    <td>{$vo.unit}</td>
                    <td>{$vo.nums}</td>
                    <td>{$vo.buy_price}</td>
                    <td>{$vo.total_price}</td>
                    <td>
                        <if condition="$vo.is_import eq 1">
                            是
                            <else/>
                            否
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="margin-bottom-15">
        <div class="layui-elem-quote" style="margin-bottom: 0px;">
            审批信息
        </div>
        <table class="layui-table read-table-l" style="margin-top: 0" lay-even lay-size="sm">
            <colgroup>
                <col width="10%">
                <col width="15%">
                <col width="25%">
                <col width="15%">
                <col>
            </colgroup>
            <tr>
                <th style="text-align: left !important;">序号</th>
                <th style="text-align: left !important;">审批人</th>
                <th style="text-align: left !important;">审批时间</th>
                <th style="text-align: left !important;">审批结果</th>
                <th style="text-align: left !important;">审批意见</th>
            </tr>
            <tbody>
            <if condition="$outWareInfo.approve_status neq 0">
                <tr>
                    <td>1</td>
                    <td>{$outWareInfo.approve_user}</td>
                    <td>{$outWareInfo.approve_time}</td>
                    <td>
                        <if condition="$outWareInfo.approve_status eq 1">
                            通过
                            <else/>
                            不通过
                        </if>
                    </td>
                    <td>{$outWareInfo.approve_desc}</td>
                </tr>
                <else/>
                <td colspan="5" style="text-align: center !important;">暂无相关数据</td>
            </if>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>