<style>
    #LAY-Assets-Transfer-examine .layui-inline .layui-input{width: 190px;}
</style>
<?php if($menuData = get_menu_name('Assets','Transfer','checkLists')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<script>
    //解决ie placeholder兼容性
    $(function(){ $('input, textarea').placeholder(); });
    var checkLists = "{$checkLists}";
</script>
<div class="layui-fluid" id="LAY-Assets-Transfer-examine" >
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">&#xe615;</i> 查询</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-form-item spacingBalance">
                            <div class="layui-inline">
                                <label class="layui-form-label">设备名称：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="transferExamineAssets" placeholder="请输入设备名称" name="examineAssets">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备编号：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="transferExamineAssetsNum" placeholder="请输入设备编号" name="examineAssetsNum">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">转科日期：</label>
                                <div class="layui-input-inline">
                                    <input type="text" style="cursor: pointer;" name="examineTransferdate" readonly value="" placeholder="请选择转科日期" autocomplete="off" class="layui-input formatDate">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">转出科室：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="transferExamineAssetsDepartmentOut" placeholder="请输入科室名称" name="examineAssetsDepartmentOut">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">转入科室：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="transferExamineAssetsDepartmentIn"  placeholder="请输入科室名称" name="examineAssetsDepartmentIn">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">申请日期：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="examineApplicantdate" style="cursor: pointer;" value="" readonly placeholder="请选择申请日期" autocomplete="off" class="layui-input formatDate">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">申请人员：</label>
                                <div class="layui-input-inline">
                                    <select name="examineAssetsUser"  lay-search="">
                                        <option value="">请选择申请人员</option>
                                        <volist name="users" id="vo">
                                            <option value="{$vo.username}">{$vo.username}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">验收状态：</label>
                                <div class="layui-input-inline">
                                    <select name="checkStatus"  lay-search="">
                                        <option value="">请选择</option>
                                        <option value="0">未验收</option>
                                        <option value="1">已验收</option>
                                        <option value="2">不通过</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline" style="text-align: center;margin-left: 10px;">
                                <div class="layui-input-inline" >
                                    <button class="layui-btn"  lay-submit="" lay-filter="checkSearch"><i class="layui-icon">&#xe615;</i> 搜 索 </button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row table-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> 列表
                    </div>
                </div>
                <div class="layui-card-body">
                    <div id="checkLists" lay-filter="checkData"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="transfer_report" style="width: 794px!important; margin: auto;display: none;">

</div>
<script type="text/html" id="LAY-Assets-Transfer-checkListsToolbar">
    <div class="layui-btn-container">
        <?php if($menuData = get_menu('Assets','Transfer','checkLists')):?>
        <button class="layui-btn layui-btn-sm" lay-event="batch_print_transfer" data-url="{$menuData['actionurl']}">
            <i class="layui-icon layui-icon-zprinter-l" style="font-size: 16px;"></i> 批量打印审批单
        </button>
        <?php endif?>
    </div>
</script>
<script src="__PUBLIC__/js/jquery.PrintArea.js" type="text/javascript"></script>
<script>
    var userid="<?php echo session('userid'); ?>";
    var cookie_url = window.location.hash;
    layui.use('assets/transfer/checkLists', layui.factory('assets/transfer/checkLists'));
</script>



