<h2 style="text-align: center; margin-bottom: 25px;"><!--中山大学附属第一医院东院-->输液装置质量检测原始记录</h2>
<div>
    <span class="fl">检测报告编号：<em>由系统读取</em></span>
    <span class="fr">制表日期：<em>由系统读取</em></span>
</div>
<form class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="150">
            <col width="600">
            <col width="150">
            <col width="600">
        </colgroup>
        <tbody>
        <tr>
            <th colspan="4" class="text-left">一、设备基本信息</th>
        </tr>
        <tr>
            <th>使用科室</th>
            <td><em>由系统读取</em></td>
            <th>质控计划名称</th>
            <td><em>由系统读取</em></td>
        </tr>
        <tr>
            <th>检测依据</th>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th>项目类型</th>
            <th>被检设备</th>
            <th colspan="2">检测仪器（标准器、模拟器）</th>
        </tr>
        <tr>
            <th>设备名称</th>
            <td><em>由系统读取</em></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>品牌</th>
            <td><em>由系统读取</em></td>
            <th>规格 / 型号</th>
            <td><em>由系统读取</em></td>
        </tr>
        <tr>
            <th>设备编号</th>
            <td><em>由系统读取</em></td>
            <th>产品序列号</th>
            <td><em>由系统读取</em></td>
        </tr>
        <tr>
            <th>启用日期</th>
            <td><em>由系统读取</em></td>
            <th>上次质控日期</th>
            <td><em>由系统读取</em></td>
        </tr>
        <tr>
            <th class="text-left" colspan="4">二、性能检测、校准、记录</th>
        </tr>
        <tr>
            <th>外观功能</th>
            <td class="no-padding-td" colspan="3" style="text-align: left!important;">
                <!--这里是模板显示效果，不提交入库 start-->
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                    </div>
                    <div class="layui-inline" style="width: 80%">
                        <div class="layui-form-label" style="font-size: 12px; padding-top: 11px;">不符合情况说明：</div>
                        <div class="layui-input-inline" style="width: 80%">
                            <input type="text" class="layui-input">
                        </div>
                    </div>
                </div>
                <!--这里是模板显示效果，不提交入库 over-->
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
        <colgroup>
            <col width="146">
            <col width="110">
            <col>
            <col>
            <col width="250">
        </colgroup>
        <tbody>
        <tr>
            <th rowspan="2">
                流量检测
                <br><span style="font-weight:normal!important;">最大允差±10%</span>
            </th>
            <td>流量测试点</td>
            <td></td>
            <td></td>
            <th>检测结果</th>
        </tr>
        <tr>
            <td>平均流量</td>
            <td></td>
            <td></td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
        <colgroup>
            <col width="146">
            <col width="110">
            <col>
            <col>
            <col width="250">
        </colgroup>
        <tbody>
        <tr>
            <th rowspan="2">阻塞报警检测</th>
            <td>阻塞报警设置值</td>
            <td></td>
            <td></td>
            <th>检测结果</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
        <colgroup>
            <col width="146">
            <col width="150">
            <col>
            <col width="150">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th rowspan="4">报警系统检测</th>
            <th>堵塞</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
            <th>即将空瓶</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>电池电量不足</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
            <th>流速错误</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>输液管路安装不妥</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
            <th>气泡报警</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>电源线脱开</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
            <th>开门报警</th>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <input type="checkbox" name="yes" lay-skin="primary" title="符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不符合">
                        <input type="checkbox" name="no" lay-skin="primary" title="不适用">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>检测结论</th>
            <td colspan="2">
                <div class="layui-inline">
                    <input type="checkbox" name="yes" lay-skin="primary" title="合格">
                    <input type="checkbox" name="no" lay-skin="primary" title="不合格">
                </div>
            </td>
            <th>备注</th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table" lay-size="sm" style="margin-top: -6px;"><!--签字表-->
        <colgroup>
            <col>
            <col>
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th colspan="3" class="text-left">三、经办工程师及验收人员意见及签字</th>
        </tr>
        <tr>
            <th>设备使用部门负责人意见及签字 </th>
            <th>经办工程师意见及签字</th>
            <th>设备科意见及签字</th>
        </tr>
        <tr>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 150px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 150px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
            <td>
                <p style="height: 60px"></p>
                <p style="text-align: left">
                    <span style="padding-right: 150px;">签字：</span>
                    <span>日期：</span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</form>