/* CSS Document */
*{ margin:0; padding:0;border: 0; list-style:none; border:none; font-family:"微软雅黑";}

body{ background:#FFFFFF;}

a{text-decoration:none}
.fl{ float:left;}.fr{ float:right;}.mc{ margin:0 auto;}
.f12{ font-size:12px;}.f16{ font-size:16px;}.f18{ font-size:18px;}.f20{ font-size:20px;}.f22{ font-size:22px;}.f26{ font-size:26px;}
.pl5{ padding-left:5px;}.ml5{ margin-left:5px;}
.pl10{ padding-left:10px;}.ml10{ margin-left:10px;}.mr10{ margin-right:10px;}.mt10{ margin-top:10px;}
.pl20{ padding-left:20px;}.ml20{ margin-left:20px;}.mr20{ margin-right:20px;}.mt20{ margin-top:20px;}
.fcfff{ color:#FFFFFF;}.red{ color:red;}.fb{ font-weight:bold;}
.btnc{ background:#029BE2;}
.btnoc:hover{ background:#1273a3;}
.border1{ border:#CCCCCC 1px solid;}
.bcf{ background:#ffffff;}
.bc1{ background:#1273a3;}
.bc2{ background:#347FA9;}
.bc3{ background:#029BE2;}
.bc_out{ background:#029BE2}
.c_p{cursor:pointer;}
a.link{ color:#029BE2; cursor:pointer;}
.listitle{ width:100%; line-height:25px; height:25px;}
.infosearch{ background:#FFF; border:#ccc 1px solid; width:auto;}
.infosearch li{ line-height:22px; padding:0px;}
.infosearch li:nth-child(even) tbody{background-color:#f9f9f9;}
.infosearch li tbody{ background:#FFF;}
.infosearch li tbody td{ padding-left:5px;}
.infosearch li:hover tbody{background:#029BE2}
.infosearch li:hover{ background:#029BE2;cursor:pointer; color:#FFFFFF;}
.infosearch li:hover strong,.infosearch li:hover td{ color:#FFFFFF;}

.search{ padding:5px 0 10px 10px;}
.ac_results{ background:#FFFFFF; border:1px solid #029BE2;}
.ac_results li{ line-height:22px; padding:0px 5px;}
.ac_results li:hover{ background:#029BE2;cursor:pointer; color:#FFFFFF;}
.ac_results li:hover strong{ color:#FFFFFF;}
/*.input_box{ border:1px solid #e5e5e5; padding:2px; height:25px; line-height:25px; width:160px; margin-top:10px; margin-right:10px;}*/
.textarea_box{ border:1px solid #e5e5e5; padding:2px; line-height:25px; width:200px; margin-right:20px;}
.add_btn{color:#FFFFFF; margin-top:10px; border:#029BE2; padding:3px 15px 3px 30px; margin-left:20px; cursor:pointer;height:25px; line-height:25px; background:#029BE2 url(../images/add.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.batch_add{color:#FFFFFF; margin-top:10px; border:#029BE2; padding:3px 15px 3px 30px; margin-left:20px; cursor:pointer;height:25px; line-height:25px; background:#029BE2 url(../images/patch_add.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.add_btn:hover{ background:#1273a3 url(../images/add.png) 10px no-repeat; height:25px; line-height:25px; border:#1273a3}
.batch_add:hover{ background:#1273a3 url(../images/patch_add.png) 10px no-repeat; height:25px; line-height:25px; border:#1273a3}
.search_btn{color:#FFFFFF; border:#029BE2; padding:0px 15px 0px 30px; margin-top:10px; cursor:pointer;height:31px; line-height:31px; background:#029BE2 url(../images/search.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.search_btn:hover{ background:#1273a3 url(../images/search.png) 10px no-repeat; height:31px; line-height:31px; border:#1273a3}
.input_btn{ color:#FFFFFF; background:#029BE2; padding:5px 12px; cursor:pointer; font-family:"Microsoft Yahei";}
.input_btn:hover{ background:#1273a3; border:#1273a3}
.input,.select{ padding:5px; margin-left:5px; margin-right:5px; border:1px solid #cccccc; width:171px;}
.t_input{ background:url(../images/calendar.gif) #ffffff 155px no-repeat}

/*.assets_list{ background:#c9caca; width:100%;}*/
/*.assets_list_d{width:100%;}*/
/*.table-striped thead{ background:#F4F4F4; line-height:35px;}*/
/*.table-striped tfoot{ background:#FFFFFF;}*/
/*.table-striped tfoot td{ padding:5px;}*/
/*.table-striped tbody{ background:#fff; font-family:"宋体"; font-size:12px;}*/
/*.table-striped tbody tr{ line-height:38px;}*/
/*.table-striped tbody tr:nth-child(even) td,.search-text li:nth-child(even),.dgbdlayer table tr:nth-child(even){background-color:#f1f4f8;}*/
/*.table-striped tbody tr:nth-child(odd):hover{background-color:#dceef4;}*/
/*.zj_select{border:1px solid #e5e5e5; padding:4px;  margin-top:10px;}*/
/*.page{ padding:5px 0px 5px 250px;}*/
/*.sear_nums{ padding:5px;}*/
/*.sear_nums label{ padding-left:10px; color:#029BE2}*/
/*.page ul li{ float:left; padding:0px 10px;}*/

/*batch*/
.down_btn{color:#FFFFFF; border:#029BE2; padding:3px 15px 3px 30px; cursor:pointer;height:25px; line-height:25px; background:#029BE2 url(../images/download.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.down_btn:hover{ background:#1273a3 url(../images/download.png) 10px no-repeat; height:25px; line-height:25px; border:#1273a3}
.upload{ width:100%; margin-top:25px}
.upload_list{ width:100%; margin-top:25px;}
/*batch*/


/*repair*/
.repair_parts{ background:#e5e5e5; width:840px; margin-left:35px;}
.sp_tr{}
.rp_info tr{ height:30px;}
.rp_input{ height:30px; line-height:30px; width:100%}
.order_input{ height:30px; line-height:30px; width:40px; text-align:center;}
.table-striped tbody tr:nth-child(even) td .rp_input,.table-striped tbody tr:nth-child(even) td .order_input{background-color:#f9f9f9;}
.table-striped tbody tr:nth-child(odd) td .rp_input:hover{background-color:#F4F4F4;}
.sum_input{ width:40px; text-align:center}
.money_input{ width:82px; text-align:center}
.total_input{ width:100px; text-align:center}

/*page分页*/
.prev{ color:#029BE2;}
.num{ padding:10px; text-decoration:underline;}
.current{ font-weight:bold; padding:10px 10px 0px 10px;}
.next{ color:#029BE2}
.rows{ padding:10px;}
.rows b{ padding:0px 5px}


/*setUp*/
.mod_role{ width:100%; background:#f4f4f4}
.mod_role p{ padding-left:10px; }
.mod_role:nth-child(even){ background:#ffffff; border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px;}

/*point*/
.multiple{ border:#029BE2 1px solid; height:400px; width:100%; }
.multiple option{padding-left:10px; line-height:25px;}
.multiple_ce{padding-top:140px; line-height:30px;}
.multiple_ce span{ padding:0px 10px; cursor:pointer;}
.multiple_ce span:hover{ background:#029BE2; color:#fff;}
/*statistic----by jinlong 2017-02-13*/
.statisticsFloor{border:none;margin-bottom: 30px;}
.setting_li{width: 100%;}
.setting_li li{float: left;width: 20%;height: 30px;line-height: 30px;}
.statistics-nav{width: 90%;margin: 0 auto;text-align: center;}
.statistics-nav ul li{float: left;width: 20%;height: 100px;line-height: 100px;margin-right: 20px;margin-top: 20px;text-align: center;border: 1px solid #DADADA;}
/*t统计模块css*/
.container{width: 100%;height: 400px;margin-top: 100px;}
.staTitle{height: 30px;line-height: 30px;width: 100%;background: #1273A3;margin-bottom: 20px;}
.staTitle span{color:#fff;padding-left: 10px;}
.container_left{width: 60%;height: 350px;float: left;}
.container_depart{width: 100%;height: 400px;margin-top: 20px;float: left;}
.container_right{margin-top:5px;margin-left:50px;float: left;text-align: center;width: 30%;height: 350px;}
.tab_title{font-size: 14px;margin: 20px 0;text-align: center;}
.container_table table{width:90%;margin:0 auto;border-right:1px solid grey;border-bottom:1px solid grey;}
.container_table table td{border-left:1px solid grey;border-top:1px solid grey;}
.container_table .lefttd{width: 120px;height: 30px;text-align: center;}
.container_table .listNum{width: 50px;height: 30px;text-align: center;}
.container_table .righttd{text-align: center;height: 25px;}
.depart_table{margin:0 auto;}
.li-over{background: #1273A3;color:#fff;font-size: 14px;}
.clear{clear: both;}
.cus_table{border-right:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5}
.tdpadding{padding-top:10px;padding-bottom:10px;}
.tdbackground{background: #F4F4F4}
.cus_table_td{border-left:1px solid #E5E5E5;border-top:1px solid #E5E5E5}
.cus_table_td1{background: #fff}
.cus_table2{border-top:1px solid #E5E5E5;border-left:1px solid #E5E5E5}
.cus_table_td2_bot{border-bottom:1px solid #E5E5E5;}
.cus_table_td2_left{border-left:1px solid #E5E5E5;}
.cus_table_td2_right{border-right:1px solid #E5E5E5;}
.cus_table2 td{padding-top:10px;padding-bottom:10px;padding-left:5px;}
.addBotList{width: 100%;height:35px;margin: 5px 0;}
.add_btn_d{color:#FFFFFF; border:#029BE2; padding:3px 15px 3px 30px; margin-left:20px; cursor:pointer;height:25px; line-height:25px; background:#029BE2 url(../images/add.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.batch_add_d{color:#FFFFFF;  border:#029BE2; padding:3px 15px 3px 30px;cursor:pointer;height:25px; line-height:25px; background:#029BE2 url(../images/patch_add.png) 10px no-repeat; font-family:"Microsoft Yahei";}
.search_width{width:270px;}
.search_width1{width:270px; margin-top: 17px;}
.search_width_select{width:155px;}
.search_width_select_2{width:130px;}
.search_width_select_3{width:270px;}
.point_bak{background: #F1F4F8;}
.point_bak_w{background: #fff;}
.tr_bak{background: #DCEEF4;}
.level_tips{height: 30px;margin-top: 10px;margin-left: 15px;line-height: 30px;}
.level_tips span{color:red;}

/**添加附件**/

.acc_table td{border:1px;}

/**添加角色**/
/*.addRole{*/
    /*width: 80%;*/
    /*margin: 20px auto;*/
/*}*/
/**权限维护**/

.tbcenter{
    text-align: center !important;
}
.tbleft{
    text-align: left !important;
    margin: 0 !important;
}
.privi{
    margin-bottom: 30px;
}
.privi li{
    float: left;
    width: 220px;
    margin-right: 2px;
    margin-bottom: 10px;
}



.right{
    padding-bottom:30px;
    margin-top: 44px;
    margin-left: 207px;
    /*position: absolute;*/
}

.side{
    position: fixed;
    z-index: 8;
    left: 200px;
    top:44px;
    width:7px;height:100%;
    /*float: left;*/
    font-size:1px;background:#347FA9 url('../images/side.gif') repeat-y;cursor:pointer;
}
.side_on,.side_off{
    z-index: 9;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    width:7px;height:51px;
}
.side_on{background:url('../images/side_off.gif') no-repeat 1px center;}
.side_off{background:url('../images/side_on.gif') no-repeat 1px center;}


.bottom{
    background: #ffffff;
    height: 30px;
    line-height: 30px;
    text-align:center;
    width:100%;
    position:fixed;
    font-size:14px;
    color:#555555;
    bottom: 0;
    /*border-top:#e5e5e5 1px solid*/
}
.bottom a{ font-size:14px; color:#555555; text-decoration:none;}


/*头部*/
.top{
    position: fixed;
    top:0;
    width:100%;
    z-index: 999;
    background:#1273a3;
    border-bottom:4px solid #347FA9;
    height:44px;
    line-height:40px;
}
.top a{
    color: #ffffff!important;
    text-decoration:none!important;
}
.top_img img{ margin-top:6px; margin-left:10px; float:left;}
.renwu{ background:url(../images/renwu.png) center no-repeat; padding-left:40px; line-height:40px; height:40px;}
.leftmenuDiv{
    width: 200px;
    float:left;
    position: fixed;
    /*margin-top:44px;*/
    z-index: 99999;
    height: 100%;
    background: #ffffff;
}
.leftmenuDiv ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.leftmenuDiv-li{
    background: #F9F9F9;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #E5E5E5;
    border-left:3px solid #F9F9F9;
    cursor: pointer;

}
.leftmenuDiv-li:hover{
    border-left:3px solid #1273A3;
    background: #FFF;
}
.menu-nav{
    height: 40px;
    width: 177px;
    float: left;
    position: absolute;
}
.menu-nav-hid{
    top: -1px;
    width: 850px;
    height: auto;
    background: #fff;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    float: left;
    position: relative;
    left: 177px;
    cursor: auto;
    display: none;
}
.menu-nav-hid_a{
    border-right: 1px solid #999;
    padding: 0 10px;
}
.noRightBorder .menu-nav-hid_a{
    border-right: none;
}
.menu-three{
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #999;
    text-align: left;
    padding-left: 50px;
    margin: 0 auto;
}
.menu-three>ul>li{
    float: left;
    /*padding: 0 10px;*/
    height: 40px;
    /*margin-top: 10px;*/
    line-height: 40px;
    /*border-right: 1px solid #999;*/
}
.renwu a{ color:#FFFFFF; font-weight:100;}
.top_user{ margin-top:6px;}


/*红色*号*/
.rquireCoin{
    color:red;
    font-size: 14px;
}
.appLeft{
    float: left;
    width: 45%;
    border: 1px solid #ccc;
    height: 600px;
    margin: 20px;
    overflow-x:auto;
    overflow-y:auto;
}
.appRight{
    float: left;
    width: 45%;
    border: 1px solid #ccc;
    height: 600px;
    margin: 20px;
    overflow-x:auto;
    overflow-y:auto;
}
.tipTitle{
    height: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    color:#00A6C8;
    padding-left:10px;
}
.getclick{cursor: pointer;}
.clickbg{
    background: #8BB9FF;
}
.apptdcen tr:hover{
    background: #8BB9FF !important;
}
.apptdcend{
    text-align: center !important;
}
.pSon{
    display: none;
}
.spsmall{
    font-size: 12px;
    color:red;
}
.containDiv{
    width: 98%;
    margin: 10px auto;
}
.cuslabelwidth{padding-right: 10px !important;width: 85px !important;}


.pointsleft{width: 35%; float: left;margin-top:15px;margin-left: 10px;}
.pointsright{width: 62%; float: left;margin-left: 1%; margin-top:15px;}
.positionbtr{float: right;}
.fltitle{float: left;font-size: 20px;}
.td-input-border-g{
    height: 25px;
    padding: 0;
    border: 1px solid #E4DFDF;
}
.td-input-border-r{
    height: 25px;
    padding: 0;
    border:1px solid red;
}
.sortable {
    padding-right: 5px !important;
}

#testNoBtn,#testNoBtn1,#testNoBtn2,#testNoBtn3{
    background: #ffffff!important;
}
.cusquote{
    padding:5px !important;
    width: 97%;
    margin: 10px auto 0;
    font-size: 12px;
    color:red;
}
.plannum{
    width: 150px !important;
}
.planname{
    width: 300px !important;
}
.exectime{
    width: 175px !important;
}


.read-table td{text-align: left!important;}
.read-table th{width:13%;text-align: right!important;}
.margin-bottom-15{margin-bottom: 15px;}
.reportHeader{
    margin: 20px auto;
    width: 90%;
    text-align: center;
}
.reportTitle{
    font-size: 32px;
    font-weight: 500;
    letter-spacing:3px;
}
.reportConditions{
    margin-top: 8px;
}
.total-font-color{
    color:red;
}
