*{margin:0;padding:0}
body{font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB",STHeiti,simsun,sans-serif,Arial;background-color:#fff;font-size:85%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background:#1273a3; width:100%; height:100%}
.fl{ float:left;}.fr{ float:right;}
.mc{ margin:0 auto;}.mt10{ margin-top:10px;}
{ background:#1273a3; width:100%; height:auto;}

.logo{ width:100%;}
.logo .mc{ max-width:320px;}
.log_box{ width:100%; height:auto}
.log_form{ min-width:320px; width:80%; background-color:#f7f7f7; padding:10px;}
.log_form dt{ border-bottom:#D9D9D9 1px solid; height:44px;}
.input{ border:none; background-color:#f7f7f7; width:95%; padding-left:5px; height:30px; line-height:30px; font-size:16px;}
.submit{color:#FFFFFF;font-size:18px;width:100%;line-height:36px;border:none;border-radius:4px;text-align:center; background-color:#029BE2; margin-top:16px;}
.foot{ width:100%; height:auto; text-align:center; color:#555555; position:absolute; bottom:20px;}
.foot a{ color:#555555;}

.Bmenu{ width:100%; height:auto; text-align:center; position:absolute; bottom:0px;}