<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include file="Public:layerHeader"/>
</head>
<body>
<div class="containDiv">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>明细表单</legend>
    </fieldset>
    <form class="layui-form">
        <input type="hidden" name="typeid" value="{$typeid}">
        <div class="layui-form-item">
            <label class="layui-form-label">类别名称：</label>
            <div class="layui-input-inline">
                <input type="text" value="{$parentname.name}" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span class="rquireCoin"> * </span> 明细名称：</label>
            <div class="layui-input-block">
                <textarea name="name"  class="layui-textarea" placeholder="请输入明细名称,一行代表添加一个，可添加多个。" lay-verify="detail"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">默认结果：</label>
            <div class="layui-input-inline">
                <select name="result" lay-verify="required">
                    <option value="合格">合格</option>
                    <option value="修复">修复</option>
                    <option value="可用">可用</option>
                    <option value="待修">待修</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">保养内容及要求：</label>
            <div class="layui-input-block">
                <textarea name="require"  class="layui-textarea" placeholder="保养内容及要求,一行代表添加一个，与明细名称对应。"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div style="text-align: center">
                <button class="layui-btn" value="" lay-submit lay-filter="add" ><i class="layui-icon" >&#xe609;</i> 提交</button>
                <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">ဂ</i> 重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<script>
    layui.use('controller/patrol/patrolsetting/adddetail', layui.factory('controller/patrol/patrolsetting/adddetail'));
</script>