<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="card-html-bg">
<include file="Public:layerHeader"/>
<style>
    #LAY-Patrol-Patrol-addPatrol .laytable-cell-checkbox {
        padding:5px;
    }
    .changeWidth .layui-form-label{width: 210px;}
    .changeWidth .layui-textarea{width: 85%;}

    .txt {
        position: absolute;
        right: -15px;
        top: 11px;
        color: #999 !important;
        font-size: 12px !important;
        line-height: 20px;
    }
</style>
<body>
<div class="layui-fluid layui-tab-content" id="LAY-Patrol-Patrol-addPatrol">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="component-form-group">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">设备名称：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="addPatrolAssName" placeholder="请输入设备名称" name="assName">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备编码：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="addPatrolAssNum" placeholder="请输入设备编码" name="assNum">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">价格区间：</label>
                                <div class="layui-inline" style="width: 120px;margin-bottom: 0;">
                                    <input class="layui-input" placeholder="最小金额" name="startPrice">
                                </div>
                                &nbsp; 至&nbsp;
                                <div class="layui-inline" style="width: 120px;margin-bottom: 0;">
                                    <input class="layui-input" placeholder="最大金额" name="endPrice">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备分类：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest" id="addPatrolAssCat" placeholder="请输入设备分类" name="assCat">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">使用科室：</label>
                                <div class="layui-input-inline">
                                    <select name="departids" xm-select="addPatrolDepartment" xm-select-search="">
                                        <option value="">请选择科室</option>
                                        <volist name="departments" id="vo">
                                            <option value="{$vo.departid}">{$vo.department}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">是否保修：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="radio" name="guarantee" value="" title="全部" checked>
                                    <input type="radio" name="guarantee" value="1" title="保内">
                                    <input type="radio" name="guarantee" value="2" title="保外">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备类型：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="checkbox" name="type" value="is_firstaid" title="急救设备" lay-skin="primary">
                                    <input type="checkbox" name="type" value="is_special" title="特种设备" lay-skin="primary">
                                    <input type="checkbox" name="type" value="is_metering" title="计量设备" lay-skin="primary">
                                    <input type="checkbox" name="type" value="is_qualityAssets" title="质控设备" lay-skin="primary">
                                    <input type="checkbox" name="type" value="is_patrol" title="保养设备" lay-skin="primary">
                                    <input type="checkbox" name="type" value="is_benefit" title="效益分析设备" lay-skin="primary">
                                </div>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">巡查周期：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="text" name="patrol_xc_cycle" class="layui-input" style="width: 5em;">
                                    <div class="txt">天</div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">保养周期：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="text" name="patrol_pm_cycle" class="layui-input" style="width: 5em;">
                                    <div class="txt">天</div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">质控周期：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="text" name="quality_cycle" class="layui-input" style="width: 5em;">
                                    <div class="txt">天</div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">计量周期：</label>
                                <div class="layui-input-inline" style="width: auto">
                                    <input type="text" name="metering_cycle" class="layui-input" style="width: 5em;">
                                    <div class="txt">天</div>
                                </div>
                            </div>
                            <div class="layui-inline" style="text-align: center;margin-left: 10px;">
                                <button class="layui-btn" type="button" lay-submit="" lay-filter="addPatrolSearch"
                                        id="addPatrolSearch">
                                    <i class="layui-icon">&#xe615;</i> 搜 索
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row margin-top-15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> <span class="assetsListTotal"></span>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="addAssetslist" lay-filter="addAssetsData"></table>
                    <div style="margin-top: 6px;">
                        <button class="layui-btn layui-btn-sm addAll"><i class="layui-icon"></i>一键纳入计划</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row margin-top-15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> <span class="delAssetslistTotal"></span>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="delAssetslist" lay-filter="delAssetsData"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row margin-top-15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form changeWidth">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"><span class="rquireCoin"> * </span>计划设备列表（包）统一名称：</label>
                                <div class="layui-input-inline" style="width:505px;">
                                    <input type="text" name="patrol_name" class="layui-input" placeholder="请为该计划设备列表(包)起一个统一名称">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-form-item layui-form-text">
                                <div class="margin-bottom-15">
                                    <label class="layui-form-label">备注：</label>
                                    <div class="layui-input-block">
                                        <textarea class="layui-textarea" name="remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div style="text-align: center">
                                <input type="hidden" name="hospital_id" value="">
                                <input type="hidden" name="assnum" value="">
                                <input type="hidden" name="level" value="{$level}">
                                <input type="hidden" name="action" value="{$url}">
                                <input type="hidden" name="nextAction" value="{$nextUrl}">
                                <button class="layui-btn" lay-submit lay-filter="next" >
                                    <i class="layui-icon">&#xe609;</i> 下一步
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">ဂ</i> 重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    layui.use('controller/patrol/patrol/addPatrol', layui.factory('controller/patrol/patrol/addPatrol'));
</script>