*{margin:0;padding:0}
body{font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB",STHeiti,simsun,sans-serif,Arial;background-color:#fff;font-size:85%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background:#1273a3; width:100%; height:100%}
.fl{ float:left;}.fr{ float:right;}
.f12{ font-size:12px;}.fb{ font-weight:bold;}.fli{ font-weight:100}
.mc{ margin:0 auto;}.tc{ text-align:center;}.mt10{ margin-top:10px;}
.ap10{ padding:10px;}.pl5{ padding-left:5px;}.pr5{ padding-right:5px;}
.w100{ width:100%}.w50{ width:45%; margin-top:30px;}
.fcfff{ color:#FFFFFF;}.red{ color:red;}.fb{ font-weight:bold;}.fc7{ color:#c7c7c7;}
.back{ position:fixed; left:10px; bottom:10px; z-index:1}

.logo{ width:100%;}
.logo .mc{ max-width:320px;}
.log_box{ width:100%; height:auto}
.log_form{ min-width:320px; width:80%; background-color:#f7f7f7; padding:10px;}
.log_form dt{ border-bottom:#D9D9D9 1px solid; height:44px;}
.input{ border:none; background-color:#f7f7f7; width:95%; padding-left:5px; height:30px; line-height:30px; font-size:16px;}
.submit{color:#FFFFFF;font-size:18px;width:100%;line-height:36px;border:none;border-radius:4px;text-align:center; background-color:#029BE2; margin-top:16px;}
.foot{ width:100%; height:auto; text-align:center; color:#555555; position:fixed; bottom:0;}
.foot a{ color:#555555;}

.inlogo{ width:100%; height:55px; background:#1273a3 /*url(/sbsys/images/m_logo2.png) left no-repeat*/;}
.position{ height:55px; line-height:55px; font-size:16px; }
.topMenu{ width:20px; height:25px; margin-top:20px;}
.topMenu li{ border-bottom:1px solid #f1f1f1}
.short-nav .dropdown-menu {/* margin: 0px 0 0; */padding: 0px 0;min-width: 120px;border: 0px solid #cccccc;background-color: #FFFFFF;}
.short-nav .dropdown-menu li { /* border-top: 1px solid #393939; */border-bottom:1px solid #f1f1f1; }
.short-nav .dropdown-menu li a {padding: 6px 10px;color: #333;font-size: 14px;line-height:2;}
.short-nav .dropdown-menu > li > a:hover, .short-nav .dropdown-menu > li > a:focus { background: #000; background-image: none; color: #333; text-decoration: none; }
.short-nav .dropdown-menu > li > a i { display: inline; padding: 0px 5px 0px 0px; font-size: 24px; }

/*index*/
.search{ width:95%; position:relative; padding-top:10px;}
.seabox{ width:98%; height:30px; line-height:30px; padding-left:1%; border:none;}
.seabtn{ border:none; width:16px; height:16px; padding-top:8px; /*background:url(/sbsys/images/search2.png) no-repeat center; */position:absolute; right:5px;}
.micon{-webkit-border-radius: 50px; width:100px; height:100px; background:#09aced;}
.micon img{ padding-left:28px; padding-top:15px;}
.micon dd{ line-height:25px;}
/*index*/

/*patrol/patrol_plan*/

/*patrol/patrol_plan*/