<?php if($menuData = get_menu_name('BaseSetting','IntegratedSetting','system')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<style>
    #LAY-BaseSetting-IntegratedSetting-system .layui-table{margin: 0}
    #LAY-BaseSetting-IntegratedSetting-system .layui-table th{font-weight: normal; text-align: right;}
    #LAY-BaseSetting-IntegratedSetting-system .layui-table td{text-align: left;width: 70%;}
    #LAY-BaseSetting-IntegratedSetting-system .layui-form-item{margin: 0;}
    #LAY-BaseSetting-IntegratedSetting-system .layui-form-pane .layui-input-block{margin-left: 0; width: 780px;}
    #LAY-BaseSetting-IntegratedSetting-system .inputwidth{width:700px;}
    #LAY-BaseSetting-IntegratedSetting-system .cuslabel{
        width: 160px !important;
        text-align: right !important;
    }
</style>
<div class="layui-fluid" id="LAY-BaseSetting-IntegratedSetting-system">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <div class="" style="padding-top: 10px;">
                    <blockquote class="layui-elem-quote cusquote">
                        注意：微信参数配置请参照本院所属微信公众号的设置进行。微信参数设置错误会导致微信版本无法使用或无法收取各种系统发送的消息，请慎重设置！！！
                    </blockquote>
                </div>
            </div>
            <div class="layui-card-body">
                <form class="layui-form layui-form-pane" id="form" method="post" action="{:U('Admin/BaseSetting/IntegratedSetting/system')}">
                    <table class="layui-table">
                        <colgroup>
                            <col width="220">
                            <col><col>
                        </colgroup>
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <th>AppID：</th>
                            <td >
                                <div class="layui-input-block">
                                    <input type="text" name="WX_APPID" value="{$system['WX_APPID']}" class="layui-input inputwidth" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>AppSecret：</th>
                            <td>
                                <div class="layui-input-block">
                                    <input type="text" name="WX_SECRET"  value="{$system['WX_SECRET']}" class="layui-input inputwidth">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>企业微信 AppID：</th>
                            <td >
                                <div class="layui-input-block">
                                    <input type="text" name="WX_WORK_APPID" value="{$system['WX_WORK_APPID']}" class="layui-input inputwidth" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>企业微信 AppSecret：</th>
                            <td>
                                <div class="layui-input-block">
                                    <input type="text" name="WX_WORK_SECRET"  value="{$system['WX_WORK_SECRET']}" class="layui-input inputwidth">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>企业微信 AgentId：</th>
                            <td>
                                <div class="layui-input-block">
                                    <input type="text" name="WX_WORK_AGENT_ID"  value="{$system['WX_WORK_AGENT_ID']}" class="layui-input inputwidth">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>微信公众号二维码:</th>
                            <td>
                                <div class="layui-input-block">
                                    <img id="img" src="{$system['WX_LOGO']}" width="100px" height="100px" >
                                    <button type="button" class="layui-btn" id="img_file">
                                         <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                    <input type="hidden" id="img_url" name="WX_LOGO" value="{$system['WX_LOGO']}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>微信通知信息模板ID :</th>
                            <td>
                                <div class="layui-btn-container">
                                    <button type="button" class="layui-btn get_templates">
                                        <i class="layui-icon layui-icon-download-circle"></i>获取模板ID
                                    </button>
                                </div>

                                <textarea class="layui-textarea" name="WX_TEMPLATES">{$system['WX_TEMPLATES_TEXT']}</textarea>

                                <p class="layui-word-aux">每行一条，例子：</p>
                                <p class="layui-word-aux">维修通知：U5KTiNM8lGifZ</p>
                                <p class="layui-word-aux">审批通知：eNkgT5DDUmLRP</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-top: 15px;margin-bottom: 30px;">
                        <button class="layui-btn" id="input_btn" type="button" style=""><i class="layui-icon" >&#xe609;</i> 保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary" ><i class="layui-icon">ဂ</i> 重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // ajax 提交表单
    $(document).ready(function(){
        $("#input_btn").click(function(){
            var tourl = $("#form").attr("action");

            $.post(tourl,$("form").serialize(),function(data){
                if(data['status'] == 0){
                    layer.msg(data['info'],{icon:2})
                }
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1,time:2000},function(){
                        window.location.reload();
                    });
                }
                if (data['status'] == -1) {
                    layer.msg(data['msg'],{icon:2,time:3000});
                }
            });
        });

        $('.get_templates').on('click', () => {
            const form = document.getElementById('form');
            const formData = new FormData(form);
            const WX_APPID = formData.get('WX_APPID');
            const WX_SECRET = formData.get('WX_SECRET');

            if (!WX_APPID || !WX_SECRET) {
                layer.msg('请填写 AppID 和 AppSecret', { icon: 2, time: 3000 });

                return;
            }

            $.post(form.action, {
                action:'get_templates',
                WX_APPID: WX_APPID,
                WX_SECRET: WX_SECRET,
            }, response => {
                if (response.status === -1) {
                    layer.msg(response.msg, { icon: 2, time: 3000 });

                    throw new Error(response.msg)
                }

                const list = response.data;

                form.elements.WX_TEMPLATES.value = list.map(item => `${item.title}：${item.template_id}`).join("\n")

                layer.msg('获取成功', { icon: 1, time: 3000 });
            });
        });
    });

   layui.use('upload', function(){
  var upload = layui.upload;

  //执行实例
  var uploadInst = upload.render({
    elem: '#img_file' //绑定元素
    ,data:{"action":"code_pic"}
    ,url: admin_name+'/IntegratedSetting/system.html' //上传接口
    ,done: function(res){
      //上传完毕回调
      if (res.status==1) {
      document.getElementById('img_url').value=res.data.src;
      $('#img').attr('src',res.data.src);}
      else{
        layer.msg(res.msg);
        window.location.reload();
      }
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
</script>
