<div style="min-height: 2316px;">
    <div class="layui-row">
        <h2 style="text-align: center; margin-bottom: 25px;"><!--中山大学附属第一医院东院-->呼吸机质量检测原始记录</h2>
        <div>
            <span class="fl">检测报告编号：<em>{$qsInfo.plan_num}</em></span>
            <span class="fr">制表日期：<em>{$date}</em></span>
        </div>
        <br/>
        <form class="layui-form">
            <table class="layui-table" lay-size="sm">
                <colgroup>
                    <col width="150">
                    <col width="550">
                    <col width="200">
                    <col width="550">
                </colgroup>
                <tbody>
                <tr>
                    <th colspan="4" class="text-left">一、设备基本信息</th>
                </tr>
                <tr>
                    <th>使用科室</th>
                    <td><em>{$asInfo.department}</em></td>
                    <th>质控计划名称</th>
                    <td><em>{$qsInfo.plan_name}</em></td>
                </tr>
                <tr>
                    <th>检测依据</th>
                    <td colspan="3"><em>{$qsInfo.basis}</em></td>
                </tr>
                <tr>
                    <th>项目类型</th>
                    <th>被检设备</th>
                    <th colspan="2">检测仪器（标准器、模拟器）</th>
                </tr>
                <tr>
                    <th>设备名称</th>
                    <td><em>{$asInfo.assets}</em></td>
                    <td colspan="2"><em>{$qsInfo.instrument}</em></td>
                </tr>
                <tr>
                    <th>品牌</th>
                    <td><em>{$asInfo.brand}</em></td>
                    <th>规格 / 型号</th>
                    <td><em>{$asInfo.model}</em></td>
                </tr>
                <tr>
                    <th>设备编号</th>
                    <td><em>{$asInfo.assnum}</em></td>
                    <th>产品序列号</th>
                    <td><em>{$asInfo.serialnum}</em></td>
                </tr>
                <tr>
                    <th>启用日期</th>
                    <td><em>{$asInfo.opendate}</em></td>
                    <th>上次质控日期</th>
                    <td><em>{$asInfo.test_date}</em></td>
                </tr>
                <tr>
                    <th class="text-left" colspan="4">二、性能检测、校准、记录</th>
                </tr>
                <tr>
                    <th>外观功能</th>
                    <td class="no-padding-td" colspan="3" style="text-align: left!important;">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                        &nbsp;&nbsp;&nbsp;&nbsp;不符合情况说明：
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
                <colgroup>
                    <col width="146">
                    <col width="110">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="120">
                    <col width="120">
                </colgroup>
                <tbody>
                <tr>
                    <th rowspan="5">潮气量 <br>（vcv模式）</th>
                    <td>设定值（ml）</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>最大输出误差</th>
                    <th>最大示值误差</th>
                </tr>
                <tr>
                    <td>输出实测值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="4"></td>
                    <td rowspan="4"></td>
                </tr>
                <tr>
                    <td>误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <th rowspan="6">强制通气频率与呼吸比 <br>（vcv模式）</th>
                    <td>设定值（BPM）</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>最大输出误差</th>
                    <th>最大示值误差</th>
                </tr>
                <tr>
                    <td>输出实测值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="5"></td>
                    <td rowspan="5"></td>
                </tr>
                <tr>
                    <td>误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>设定值（I∶E）</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <th rowspan="5">吸入氧浓度FiO₂</th>
                    <td>设定值（%）</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>最大输出误差</th>
                    <th>最大示值误差</th>
                </tr>
                <tr>
                    <td>输出实测值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="4"></td>
                    <td rowspan="4"></td>
                </tr>
                <tr>
                    <td>误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <th rowspan="5">吸气压力水平<br>PCV或新生儿呼吸的PLV模式<br>f=20</th>
                    <td>设定值/cmH₂O</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>最大输出误差</th>
                    <th>最大示值误差</th>
                </tr>
                <tr>
                    <td>输出实测值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="4"></td>
                    <td rowspan="4"></td>
                </tr>
                <tr>
                    <td>误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <th rowspan="5">呼气末正压PEEP<br>VCV模式<br>Vt=400ml<br>f=20</th>
                    <td>设定值/cmH₂O</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>最大输出误差</th>
                    <th>最大示值误差</th>
                </tr>
                <tr>
                    <td>输出实测值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="4"></td>
                    <td rowspan="4"></td>
                </tr>
                <tr>
                    <td>误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>示值误差</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
                <colgroup>
                    <col width="150">
                    <col width="500">
                    <col width="170">
                    <col width="500">
                </colgroup>
                <tbody>
                <tr>
                    <th class="text-left" colspan="4">三、机械通气模式评价</th>
                </tr>
                <tr>
                    <th>容量预制模式</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>流量触发功能</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>压力预制模式</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>压力触发功能</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="text-left" colspan="4">四、安全报警功能等检查</th>
                </tr>
                <tr>
                    <th>电源报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>氧浓度上/下限报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>气源报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>窒息报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>气道压力上/下限报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>病人回路过压保护功能</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>分钟通气量上/下限报警</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                    <th>按键功能检查（含键盘锁）</th>
                    <td>
                        <div class="layui-item">
                            <div class="layui-inline">
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> N/A
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <th>检测结论</th>
                    <td>
                        <div class="layui-inline">
                            <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 合格
                            <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不合格
                        </div>
                    </td>
                    <th>备注<br>（偏离情况说明）</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <table class="layui-table" lay-size="sm" style="margin-top: -6px;">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th colspan="3" class="text-left">五、经办工程师及验收人员意见及签字</th>
                </tr>
                <tr>
                    <td colspan="3" class="text-left">
                        评分：
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>1分、
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>2分、
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>3分、
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>4分、
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>5分
                    </td>
                </tr>
                <tr>
                    <th>设备使用部门负责人意见及签字 </th>
                    <th>经办工程师意见及签字</th>
                    <th>设备科意见及签字</th>
                </tr>
                <tr>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$asInfoautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$asInfoautograph}">
                        <span>日期：{$asInfoautograph_time}</span>
                    </p>
                </td>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$qsInfoautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$qsInfoautograph}">
                        <span>日期：{$qsInfoautograph_time}</span>
                    </p>
                </td>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$departautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$departautograph}">
                        <span>日期：{$departautograph_time}</span>
                    </p>
                </td>
            </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>