<style>
    td,th{ text-align: center!important;}
    th{ font-weight: bold!important;}
    .no-padding-td .layui-input {
        border: none;
        height: 40px;
        line-height: 40px;
    }
    em{
        font-size: 12px;
    }

    .layui-form-checkbox[lay-skin=primary] i{
        width: 12px;
        height: 12px;
        line-height: 12px;
    }
    .layui-form-checkbox span{
        font-size: 12px;
    }
    .layui-form-checkbox[lay-skin=primary] span{
        line-height: 16px;
        padding-right: 0px!important;
    }
    .layui-form-checkbox span{
        padding: 0px 3px;
    }
    .layui-table[lay-size=sm] td, .layui-table[lay-size=sm] th{
        padding: 5px!important;
    }
</style>
<div style="min-height: 1158px;">
    <div class="layui-row">
        <h2 style="text-align: center; margin-bottom: 25px;"><!--中山大学附属第一医院东院-->输液装置质量检测原始记录</h2>
        <div>
            <span class="fl">检测报告编号：<em>{$qsInfo.plan_num}</em></span>
            <span class="fr">制表日期：<em>{$date}</em></span>
        </div>
        <br/>
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="150">
                <col width="550">
                <col width="200">
                <col width="550">
            </colgroup>
            <tbody>
            <tr>
                <th colspan="4" class="text-left">一、设备基本信息</th>
            </tr>
            <tr>
                <th>使用科室</th>
                <td><em>{$asInfo.department}</em></td>
                <th>质控计划名称</th>
                <td><em>{$qsInfo.plan_name}</em></td>
            </tr>
            <tr>
                <th>检测依据</th>
                <td colspan="3">{$qsInfo.basis}</td>
            </tr>
            <tr>
                <th>项目类型</th>
                <th>被检设备</th>
                <th colspan="2">检测仪器（标准器、模拟器）</th>
            </tr>
            <tr>
                <th>设备名称</th>
                <td><em>{$asInfo.assets}</em></td>
                <td colspan="2">{$qsInfo.instrument}</td>
            </tr>
            <tr>
                <th>品牌</th>
                <td><em>{$asInfo.brand}</em></td>
                <th>规格 / 型号</th>
                <td><em>{$asInfo.model}</em></td>
            </tr>
            <tr>
                <th>设备编号</th>
                <td><em>{$asInfo.assnum}</em></td>
                <th>产品序列号</th>
                <td><em>{$asInfo.serialnum}</em></td>
            </tr>
            <tr>
                <th>启用日期</th>
                <td><em>{$qsInfo.start_date}</em></td>
                <th>上次质控日期</th>
                <td><em>{$asInfo.test_date}</em></td>
            </tr>
            <tr>
                <th class="text-left" colspan="4">二、性能检测、校准、记录</th>
            </tr>
            <tr>
                <th>外观功能</th>
                <td class="no-padding-td" colspan="3" style="text-align: left!important;">
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    &nbsp;&nbsp;&nbsp;&nbsp;不符合情况说明：
                </td>
            </tr>
            </tbody>
        </table>
        <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="46">
            <col width="250">
            <col width="150">
            <col width="300">
            <col width="200">
            <col width="200">
            <col width="300">
        </colgroup>
        <tbody>
        <tr>
            <th colspan="3"></th>
            <th>测量值</th>
            <th colspan="2">允许值</th>
            <th>测量结论</th>
        </tr>
        <tr>
            <td rowspan="6">电<br/>源<br/>部<br/>分</td>
        </tr>
        <tr>
            <td colspan="2">保护接地阻抗(mΩ)</td>
            <td></td>
            <td colspan="2">≤200mΩ</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">绝缘阻抗(电源—外壳)(MΩ)</td>
            <td></td>
            <td colspan="2">≥10mΩ</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>对地漏电流（μA）</td>
            <td>正常状态</td>
            <td></td>
            <td colspan="2">≤500μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">外壳漏电流（μA）</td>
            <td>正常状态</td>
            <td></td>
            <td colspan="2">≤100μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>地线断开</td>
            <td></td>
            <td colspan="2">≤500μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="4"></td>
            <td>
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> B型BF型
            </td>
            <td>
                <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> CF型
            </td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="6">应<br/>用<br/>部<br/>分</td>
        </tr>
        <tr>
            <td rowspan="2">患者漏电流（μA）</td>
            <td>正常状态</td>
            <td></td>
            <td>≤100μA</td>
            <td>≤10μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>地线断开</td>
            <td></td>
            <td>≤500μA</td>
            <td>≤50μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">患者辅助漏电流（μA）</td>
            <td>正常状态</td>
            <td></td>
            <td>≤100μA</td>
            <td>≤10μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>地线断开</td>
            <td></td>
            <td>≤500μA</td>
            <td>≤50μA</td>
            <td>
                <div class="layui-item">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 符合
                        <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i> 不符合
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        <table class="layui-table" lay-size="sm" style="margin-top: -12px;">
            <colgroup>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th colspan="3" class="text-left">三、经办工程师及验收人员意见及签字</th>
            </tr>
            <tr>
                <td colspan="3" class="text-left">
                    评分：
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>1分、
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>2分、
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>3分、
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>4分、
                    <i class="layui-icon layui-icon-gongsisvgtubiaozongji22" style="position: relative;top: 2px; padding-right: 2px;"></i>5分
                </td>
            </tr>
            <tr>
                <th>设备使用部门负责人意见及签字 </th>
                <th>经办工程师意见及签字</th>
                <th>设备科意见及签字</th>
            </tr>
            <tr>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$asInfoautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$asInfoautograph}">
                        <span>日期：{$asInfoautograph_time}</span>
                    </p>
                </td>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$qsInfoautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$qsInfoautograph}">
                        <span>日期：{$qsInfoautograph_time}</span>
                    </p>
                </td>
                <td>
                    <p style="height: 60px"></p>
                    <p style="text-align: left">
                        <span <if condition="$departautograph"><else/>style="padding-right: 100px;"</if>>签字：</span><img src="{$departautograph}">
                        <span>日期：{$departautograph_time}</span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>