<include file="Public:head"/>
<title>设备借调审批</title>
<style>
    .layui-table tr th {
        width: 32%;
    }
    .formDiv {
        margin-top: 1.25rem;
    }
    .subsidiary_table {
        margin: 10px 15px 0 15px;
    }

    .subsidiary_table .layui-table tr th {
        text-align: left;
    }

    .subsidiary_table .layui-border-box {
        margin-top: 5px;
    }

    .layui-input-block {
        margin-left: 130px;
    }

    .layui-form-label {
        width: 108px;
        padding: 9px 10px;
    }

    .weui-toptips {
        z-index: 999999999;
    }
    .layui-card:first-of-type{
        margin-top: 0;
    }
    .layui-fluid {
        padding: 0;
        width: auto;
        height: auto;
    }
    .emptyDiv {
        display: none;
        margin-bottom: 1.25rem;
        position: relative;
        z-index: 10;
    }
</style>
<body>
<div class="layui-fluid setForm">
    <div class="emptyDiv">
    </div>
    <div class="layui-card" style="margin-top: 0;">
        <div class="layui-card-header borderNone">
            <h2 class="detailTitle">设备基本信息</h2>
            <div class="bl1px"></div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table" lay-even>
                <tbody>
                <tr>
                    <th>设备名称</th>
                    <td>{$assets.assets}</td>
                </tr>
                <tr>
                    <th>设备编号</th>
                    <td>{$assets.assnum}</td>
                </tr>
                <tr>
                    <th>设备原编号</th>
                    <td>{$assets.assorignum}</td>
                </tr>
                <tr>
                    <th>规格/型号</th>
                    <td>{$assets.model}</td>
                </tr>
                <tr>
                    <th>产品序列号</th>
                    <td>{$assets.serialnum}</td>
                </tr>
                <tr>
                    <th>设备常用名</th>
                    <td>{$assets.common_name}</td>
                </tr>
                <tr>
                    <th>设备分类</th>
                    <td>{$assets.cate_name}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>系统辅助分类</th>
                    <td>{$assets.helpcat}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>设备原值(元)</th>
                    <td>{$assets.buy_price}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>预计使用年限</th>
                    <td>{$assets.expected_life}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>残净值率(%)</th>
                    <td>{$assets.residual_value}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>生产厂商</th>
                    <td>{$assets.factory}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>供应商</th>
                    <td>{$assets.supplier}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>维修商</th>
                    <td>{$assets.repair}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>出厂日期</th>
                    <td>{$assets.factorydate}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>保修到期日期</th>
                    <td>{$assets.guarantee_date}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>保修状态</th>
                    <td>{$assets.guaranteeStatus}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>单位</th>
                    <td>{$assets.unit}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>品牌</th>
                    <td>{$assets.brand}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>出厂编号</th>
                    <td>{$assets.factorynum}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>设备类型</th>
                    <td>{$assets.type}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>发票编号</th>
                    <td>{$assets.invoicenum}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>所属科室</th>
                    <td>{$assets.department}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>管理科室</th>
                    <td>{$assets.managedepart}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>所在位置</th>
                    <td>{$assets.address}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>资产负责人</th>
                    <td>{$assets.assetsrespon}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>财务分类</th>
                    <td>{$assets.finance}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>设备来源</th>
                    <td>{$assets.assfrom}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>资金来源</th>
                    <td>{$assets.capitalfrom}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>入库日期</th>
                    <td>{$assets.storage_date}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>启用日期</th>
                    <td>{$assets.opendate}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>折旧方式</th>
                    <td>{$assets.depreciation_method_name}</td>
                </tr>
                <tr class="assetsHideDetail">
                    <th>折旧年限</th>
                    <td>{$assets.depreciable_lives}</td>
                </tr>
                </tbody>
            </table>
            <div class="layui-card" style="margin-top: 0;">
                <div class="moreButton">
                    <a class="moreDetailButton" data-detailClass="assetsHideDetail">加载更多</a>
                </div>
                <div class="moreButton" style="display: none;">
                    <a class="hideDetailButton" data-detailClass="assetsHideDetail">收起</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header borderNone">
            <h2 class="detailTitle">借调申请信息</h2>
            <div class="bl1px"></div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>流水号</th>
                    <td>{$borrow.borrow_num}</td>
                </tr>
                <tr>
                    <th>申请科室</th>
                    <td>{$borrow.department}</td>
                </tr>
                <tr>
                    <th>申请人</th>
                    <td>{$borrow.apply_username}</td>
                </tr>
                <tr>
                    <th>申请时间</th>
                    <td>{$borrow.apply_time}</td>
                </tr>
                <tr>
                    <th>借调原因</th>
                    <td>{$borrow.borrow_reason}</td>
                </tr>
                <tr>
                    <th>预计归还时间</th>
                    <td>{$borrow.estimate_back}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <notempty name="approve">
        <div class="layui-card">
            <div class="layui-card-header borderNone">
                <h2 class="detailTitle">审批信息</h2>
                <div class="bl1px"></div>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <tbody>
                    <volist name="approve" id="vo">
                        <tr>
                            <th>审批人</th>
                            <td>
                                <if condition="$i eq 1"> (借出科室审批)
                                    <else/>
                                    (设备科审批)
                                </if>
                                {$vo.approver}
                            </td>
                        </tr>
                        <tr>
                            <th>审批时间</th>
                            <td>{$vo.approve_time}</td>
                        </tr>
                        <tr>
                            <th>审批意见</th>
                            <td>{$vo.is_adoptName}</td>
                        </tr>
                        <tr>
                            <th>备注</th>
                            <td>
                                <if condition="$vo.remark neq ''">
                                    {$vo.remark}
                                    <else/>
                                    无
                                </if>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </notempty>
   <notempty name="is_display">
    <div class="formDiv">
        <div class="layui-card">
            <div class="layui-card-header">
                <img class="formImage" src="__PUBLIC__/mobile/images/icon/form.png">
                <h2 class="formTitle">审批表单</h2>
                <a class="upFormButton">表单置顶<i class="layui-icon layui-icon-zarrow-up-l"></i></a>
                <a class="downFormButton">表单置底<i class="layui-icon layui-icon-zarrow-down-l"></i></a>
            </div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <notempty name="subsidiary">
                        <div class="subsidiary_table">
                            <span class="mobileTips"> 一同借调附属设备</span>
                            <table class="layui-table" lay-even="" lay-size="sm">
                                <thead>
                                <tr>
                                    <th>附属设备名称</th>
                                    <th>规格型号</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="subsidiary" id="vo">
                                    <tr>
                                        <td>{$vo.assets}</td>
                                        <td>{$vo.model}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </notempty>
                    <input type="hidden" name="borid" value="{$borrow.borid}">
                    <div class="layui-form-item mgb1rem">
                        <label class="layui-form-label">审批意见：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="is_adopt" value="1" title="通过" checked="checked">
                            <input type="radio" name="is_adopt" value="2" title="不通过">
                        </div>
                    </div>
                    <div class="layui-form-item mgb1rem">
                        <label class="layui-form-label">备注：</label>
                        <div class="layui-input-block">
                            <input type="text" name="remark" placeholder="请输入审批备注" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item mgb1rem">
                        <label class="layui-form-label">审批人：</label>
                        <div style="line-height: 38px;">{$approver}</div>
                    </div>

                    <div class="layui-form-item mgb1rem">
                        <label class="layui-form-label">审批时间：</label>
                        <div style="line-height: 38px;">{$approve_time}</div>
                    </div>
                    <div class="layui-form-item mgt1rem">
                        <button class="layui-btn" style="width: 100%;" lay-submit lay-filter="submit">确认并提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div></notempty>
</div>
</body>
<script>
    //借调状态
    var approveBorrowUrl = '{$approveBorrowUrl}';
</script>
<include file="Public:buttom"/>
<script src="__PUBLIC__/mobile/js/ajax.js"></script>
<script src="__PUBLIC__/mobile/js/assets/borrow/approveBorrow.js?v={:mt_rand(1,54561)}"></script>