<include file="Public:head"/>
<link rel="stylesheet" href="__PUBLIC__/mobile/css/weui.css" media="all">
<link rel="stylesheet" href="__PUBLIC__/mobile/css/jquery-weui.css" media="all">
<title>归还确认验收</title>
<style>
    .line {
        border-right: 1px solid #c9c9c9;
        position: absolute;
        right: 0;
        width: 1px;
        height: 80%;
        top: 0;
    }
    .using {
        color: #009688
    }
    #giveBackCheckList li {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .swiper-container {
        height: 12.5rem;
    }
    .weui-popup__modal .weui-icon-cancel {
        position: absolute;
        right: 0.2rem;
        top: 0.8rem;
        color: #888;
        font-size: 1.5rem;
    }
    .jumpButton{
        bottom: 2.4rem;
    }
    .detail{
        padding-left: 0;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="mgt1rem">
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form" action="#" id="searchForm">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                            <i class="weui-icon-search"></i>
                            <span>搜索(设备名称、编号、申请科室、单号)</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            <img class="formImage" src="__PUBLIC__/mobile/images/icon/list.png">
            <h2 class="list_title">待归还确认验收设备</h2>
            <span class="total_sum"></span> 台
            <a class="order">排序
                <img class="formImage" src="__PUBLIC__/mobile/images/icon/order.png">
                <div class="orderList">
                    <dl>
                        <dt>降序</dt>
                        <dd>
                            <span class="orderTypeButton" orderType="DESC" orderSort="estimate_back">按照预计归还时间</span>
                        </dd>
                        <dd>
                            <span class="orderTypeButton" orderType="DESC" orderSort="apply_departid">按照申请科室</span>
                        </dd>
                        <dt>升序</dt>
                        <dd>
                            <span class="orderTypeButton" orderType="ASC" orderSort="estimate_back">按照预计归还时间</span>
                        </dd>
                        <dd>
                            <span class="orderTypeButton" orderType="ASC" orderSort="apply_departid">按照申请科室</span>
                        </dd>
                    </dl>
                </div>
            </a>
        </div>
        <div class="layui-card-body">
            <ul id="giveBackCheckList"></ul>
        </div>
    </div>
</div>
</body>
<include file="Public:buttom"/>
<script>
    var giveBackCheckListUrl='{$giveBackCheckListUrl}';
</script>
<script src="__PUBLIC__/js/swiper.min.js"></script>
<script src="__PUBLIC__/mobile/js/assets/borrow/giveBackCheckList.js?v={:mt_rand(1,54561)}"></script>