<?php if($menuData = get_menu_name('Purchases','PurchaseCheck','installDebugList')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<script>
    //解决ie placeholder兼容性
    $(function(){ $('input, textarea').placeholder(); });
    var installDebugList = "{$installDebugList}";
</script>
<div class="layui-fluid" id="LAY-Purchases-PurchaseCheck-installDebugList" >
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">&#xe615;</i> 查询</div>
                <div class="layui-card-body">
                    <form action="" class="layui-form">
                        <div class="layui-form-item" style="margin-bottom: 0px; margin-top: 10px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">领用科室：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="hidden" name="debug_departid" value="0"/>
                                        <input type="text" class="form-control bsSuggest" id="debugListDepartment" placeholder="请选择领用科室">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备名称：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group" id="dic_assets_sel">
                                        <input type="text" class="form-control bsSuggest" id="debug_assets_name" name="assets_name" placeholder="请选择设备名称" />
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">调试状态：</label>
                                <div class="layui-input-inline">
                                    <select name="debug_status" lay-search="" >
                                        <option value=""></option>
                                        <option value="0">未调试</option>
                                        <option value="1">调试中</option>
                                        <option value="2">已完成</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" type="button" lay-submit="" lay-filter="debugSearch" id="debugSearch">
                                    <i class="layui-icon">&#xe615;</i> 搜 索
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary" id="debugresetSearch">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row table-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> 设备安装调试列表
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="installDebugList" lay-filter="installDebugData"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var installDebugList = "{$installDebugList}";
    var hospital_id = "{$hospital_id}";
    layui.use('purchases/purchaseCheck/installDebugList', layui.factory('purchases/purchaseCheck/installDebugList'));
</script>