<?php if($menuData = get_menu_name('Purchases','PurchaseCheck','qualityReportLists')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<script>
    //解决ie placeholder兼容性
    $(function(){ $('input, textarea').placeholder(); });
    var qualityReportLists = "{$qualityReportLists}";
</script>
<div class="layui-fluid" id="LAY-Purchases-PurchaseCheck-qualityReportLists" >
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">&#xe615;</i> 查询</div>
                <div class="layui-card-body">
                    <form action="" class="layui-form">
                        <div class="layui-form-item" style="margin-bottom: 0px; margin-top: 10px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">领用科室：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="hidden" name="quality_departid" value="0"/>
                                        <input type="text" class="form-control bsSuggest" id="qualityReportListsDepartment" placeholder="请选择领用科室">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设备名称：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group" id="dic_assets_sel">
                                        <input type="text" class="form-control bsSuggest" id="quality_report_assets_name" name="assets_name" placeholder="请选择设备名称" />
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" type="button" lay-submit="" lay-filter="qualityReportListsSearch" id="qualityReportListsSearch">
                                    <i class="layui-icon">&#xe615;</i> 搜 索
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary" id="qualityreset">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row table-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> 质量验收列表
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="qualityReportLists" lay-filter="qualityReportData"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('purchases/purchaseCheck/qualityReportLists', layui.factory('purchases/purchaseCheck/qualityReportLists'));
</script>