@font-face {
  font-family: "tecevicon"; /* Project id 425772 */
  src: url('iconfont.woff2?t=1664415850398') format('woff2'),
       url('iconfont.woff?t=1664415850398') format('woff'),
       url('iconfont.ttf?t=1664415850398') format('truetype');
}

.tecevicon {
  font-family: "tecevicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tecev-jiagebaohu:before {
  content: "\e6a2";
}

.tecev-jiage:before {
  content: "\e6a3";
}

.tecev-zongshu:before {
  content: "\e6a0";
}

.tecev-chanyezongzhi:before {
  content: "\ebfa";
}

.tecev-tianshu:before {
  content: "\e69f";
}

.tecev-leijishouyi:before {
  content: "\e694";
}

.tecev-zongshouyi:before {
  content: "\e695";
}

.tecev-shouyishuai:before {
  content: "\e696";
}

.tecev-shouyishuai1:before {
  content: "\e697";
}

.tecev-shouyi:before {
  content: "\e6a9";
}

.tecev-zhenliaofuwu:before {
  content: "\e6fc";
}

.tecev-zongshouru:before {
  content: "\e7de";
}

.tecev-zongshouru1:before {
  content: "\e698";
}

.tecev-zongshouru2:before {
  content: "\e699";
}

.tecev-zhenliaojilu:before {
  content: "\e69a";
}

.tecev-zongzhichu:before {
  content: "\e69c";
}

.tecev-zongshouru3:before {
  content: "\e69d";
}

.tecev-zongzhichu1:before {
  content: "\e69e";
}

.tecev-icon03:before {
  content: "\e693";
}

.tecev-jurassic_cost:before {
  content: "\e6b8";
}

.tecev-nianxiantongji:before {
  content: "\e691";
}

.tecev-touyunnianxian:before {
  content: "\e692";
}

.tecev-gengxinhuancun:before {
  content: "\e690";
}

.tecev-gengxinhuancun1:before {
  content: "\ea18";
}

.tecev-xitonghuancun:before {
  content: "\e7fa";
}

.tecev-qinglihuancun:before {
  content: "\e68e";
}

.tecev-qingchuhuancun:before {
  content: "\e68f";
}

.tecev-gongzuoshouce:before {
  content: "\e68a";
}

.tecev-shouce1:before {
  content: "\e69b";
}

.tecev-shouce2:before {
  content: "\e68c";
}

.tecev-caozuoshouce:before {
  content: "\e68d";
}

.tecev-shouce:before {
  content: "\e645";
}

.tecev-sanjiaoxing:before {
  content: "\ede0";
}

.tecev-sanjiaoxing-xia:before {
  content: "\e689";
}

.tecev-tongzhi1:before {
  content: "\e687";
}

.tecev-tongzhi:before {
  content: "\e686";
}

.tecev-htmal5icon15:before {
  content: "\e684";
}

.tecev-return-copy:before {
  content: "\eddf";
}

.tecev-return:before {
  content: "\e6ba";
}

.tecev-fanhui1:before {
  content: "\e683";
}

.tecev-dkw_luyin:before {
  content: "\e682";
}

.tecev-excel:before {
  content: "\e681";
}

.tecev-Excel:before {
  content: "\e998";
}

.tecev-Excel1:before {
  content: "\edde";
}

.tecev-shejiguifan:before {
  content: "\e67c";
}

.tecev-design-preparat:before {
  content: "\e67e";
}

.tecev-design:before {
  content: "\e67f";
}

.tecev-iconfontbianji:before {
  content: "\e676";
}

.tecev-piliangxiugai:before {
  content: "\e678";
}

.tecev-piliangxiugai1:before {
  content: "\e679";
}

.tecev-piliangxiugai2:before {
  content: "\e67a";
}

.tecev-piliangxiugai3:before {
  content: "\e766";
}

.tecev-piliangxiugai4:before {
  content: "\e67b";
}

.tecev-piliangxiugai5:before {
  content: "\e9ea";
}

.tecev-piliangtianjia1:before {
  content: "\e66e";
}

.tecev-piliangtianjia2:before {
  content: "\e66f";
}

.tecev-piliangtianjia3:before {
  content: "\e670";
}

.tecev-piliangtianjia4:before {
  content: "\e671";
}

.tecev-piliangtianjia5:before {
  content: "\e88d";
}

.tecev-piliangtianjia6:before {
  content: "\e675";
}

.tecev-piliangtianjia:before {
  content: "\e66d";
}

.tecev-wo:before {
  content: "\e659";
}

.tecev-shoushuru:before {
  content: "\e66c";
}

.tecev-tuichu:before {
  content: "\e68b";
}

.tecev-qiehuan:before {
  content: "\e8ba";
}

.tecev-tuichu1:before {
  content: "\e67d";
}

.tecev-wo1:before {
  content: "\e65a";
}

.tecev-geren1:before {
  content: "\e661";
}

.tecev-tuichu2:before {
  content: "\e662";
}

.tecev-tuichu3:before {
  content: "\e663";
}

.tecev-ziyuan:before {
  content: "\e666";
}

.tecev-qiehuan1:before {
  content: "\e66a";
}

.tecev-tuichu4:before {
  content: "\e66b";
}

.tecev-qiehuan2:before {
  content: "\e6cd";
}

.tecev-daochu4:before {
  content: "\e6df";
}

.tecev-daochu5:before {
  content: "\e746";
}

.tecev-daochu6:before {
  content: "\e6b0";
}

.tecev-daochu7:before {
  content: "\e6a1";
}

.tecev-daochu3:before {
  content: "\e656";
}

.tecev-shangchuan:before {
  content: "\e654";
}

.tecev-jiliangguanli:before {
  content: "\e72d";
}

.tecev-jiliangguanli-:before {
  content: "\e650";
}

.tecev-jiliangdanwei:before {
  content: "\e78f";
}

.tecev-jiliangdanwei1:before {
  content: "\e7c5";
}

.tecev-monitor-copy-copy:before {
  content: "\e63d";
}

.tecev-jiankong:before {
  content: "\e63e";
}

.tecev-peixun:before {
  content: "\e63f";
}

.tecev-tongjifenxi:before {
  content: "\e658";
}

.tecev-dangandai:before {
  content: "\e642";
}

.tecev-tongjifenxi1:before {
  content: "\e643";
}

.tecev-tongjifenxi2:before {
  content: "\e644";
}

.tecev-jiankong02:before {
  content: "\e688";
}

.tecev-tongjifenxi3:before {
  content: "\e9f5";
}

.tecev-tongjifenxi4:before {
  content: "\e647";
}

.tecev-weibiaoti-:before {
  content: "\e648";
}

.tecev-peixun1:before {
  content: "\e64a";
}

.tecev-dangan:before {
  content: "\e677";
}

.tecev-dangan1:before {
  content: "\e64b";
}

.tecev-dangan2:before {
  content: "\e64c";
}

.tecev-jiankong1:before {
  content: "\e6c8";
}

.tecev-jiankong2:before {
  content: "\e64d";
}

.tecev-buliangshijian:before {
  content: "\e6b3";
}

.tecev-record:before {
  content: "\e64e";
}

.tecev-juecefenxi:before {
  content: "\e64f";
}

.tecev-weixiubaoyang:before {
  content: "\e6d8";
}

.tecev-weixiu2:before {
  content: "\e65d";
}

.tecev-weixiu3:before {
  content: "\e63c";
}

.tecev-dayin1:before {
  content: "\e63b";
}

.tecev-xiaoyifenxi:before {
  content: "\e653";
}

.tecev-xiaoyifenxi1:before {
  content: "\e61b";
}

.tecev-jingyingxiaoyifenxi:before {
  content: "\e638";
}

.tecev-dayin:before {
  content: "\e63a";
}

.tecev-chanzhifenxi:before {
  content: "\e62d";
}

.tecev-18icon:before {
  content: "\e61a";
}

.tecev-shebeizhuanyi:before {
  content: "\e6a8";
}

.tecev-shebeizhuanyi1:before {
  content: "\e6b6";
}

.tecev-shebeidanganchaxun:before {
  content: "\e614";
}

.tecev-shebeishezhi:before {
  content: "\ea37";
}

.tecev-bumen:before {
  content: "\e607";
}

.tecev-tubiao13:before {
  content: "\e60d";
}

.tecev-qunfengjiaosequanxian:before {
  content: "\e709";
}

.tecev-qunfengjiaosequanxian1:before {
  content: "\e780";
}

.tecev-20icon:before {
  content: "\e618";
}

.tecev-jueseguanli:before {
  content: "\e70e";
}

.tecev-icon:before {
  content: "\e634";
}

.tecev-fenleigongnengleimu:before {
  content: "\e76f";
}

.tecev-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.tecev-weixin-copy:before {
  content: "\e652";
}

.tecev-view-1-copy:before {
  content: "\e619";
}

.tecev-shouyejiedan:before {
  content: "\e635";
}

.tecev-baoxiao:before {
  content: "\e60b";
}

.tecev-daijiedan:before {
  content: "\e61c";
}

.tecev-fenlei:before {
  content: "\e627";
}

.tecev-yewu-tianchong:before {
  content: "\e629";
}

.tecev-fenlei1:before {
  content: "\e632";
}

.tecev-baoxiaodan:before {
  content: "\e60c";
}

.tecev-shebeiyanshoudan:before {
  content: "\e610";
}

.tecev-jiaoseguanli:before {
  content: "\e62a";
}

.tecev-drxx03:before {
  content: "\e71b";
}

.tecev-drxx88:before {
  content: "\e725";
}

.tecev-icon--:before {
  content: "\e70d";
}

.tecev-icon--1:before {
  content: "\e70f";
}

.tecev-yewu:before {
  content: "\e611";
}

.tecev-drxx107:before {
  content: "\e72b";
}

.tecev-keshichangguitijian:before {
  content: "\e657";
}

.tecev-keshiguanli:before {
  content: "\e65b";
}

.tecev-jiaoseyonghu:before {
  content: "\e62b";
}

.tecev-jiaoseyonghu_jiaodian:before {
  content: "\e62c";
}

.tecev-shenpiliucheng:before {
  content: "\e620";
}

.tecev-chakanjindu:before {
  content: "\e6e4";
}

.tecev-icon-audit:before {
  content: "\e606";
}

.tecev-zichanbaobiao:before {
  content: "\e640";
}

.tecev-caigoubaobiao-bian:before {
  content: "\e630";
}

.tecev-shenpi:before {
  content: "\e680";
}

.tecev-jihuajindu:before {
  content: "\e605";
}

.tecev-shenpi1:before {
  content: "\e665";
}

.tecev-group47:before {
  content: "\e633";
}

.tecev-qianshoushenpitongguo-xianxing:before {
  content: "\e891";
}

.tecev-qianshoushenpitongguo:before {
  content: "\e892";
}

.tecev-shenpiliucheng1:before {
  content: "\e60f";
}

.tecev-icon-p_mrpjinduzhuizong:before {
  content: "\e608";
}

.tecev-jindutiao:before {
  content: "\e664";
}

.tecev-jindutiao1:before {
  content: "\e672";
}

.tecev-BAI-shenpi:before {
  content: "\e6cf";
}

.tecev-gudingzichanbaosunbaofeishenpi:before {
  content: "\e603";
}

.tecev-shenpi2:before {
  content: "\e6b2";
}

.tecev-shenpiguanli:before {
  content: "\e631";
}

.tecev-shenpi3:before {
  content: "\e660";
}

.tecev-hebaoshenpi:before {
  content: "\e6ce";
}

.tecev-shenpijinduchaxun:before {
  content: "\e6d4";
}

.tecev-erji-yunweibaobiao:before {
  content: "\eabb";
}

.tecev-drxx36:before {
  content: "\e70c";
}

.tecev-navicon-pdsp:before {
  content: "\e655";
}

.tecev-tubiaozhizuomoban-:before {
  content: "\e613";
}

.tecev-icon-test:before {
  content: "\e62f";
}

.tecev-baobiaotongji:before {
  content: "\e651";
}

.tecev-shengchengbaobiao:before {
  content: "\e641";
}

.tecev-baobiaoweihu_jiaodian:before {
  content: "\e626";
}

.tecev-shenpiliucheng2:before {
  content: "\e604";
}

.tecev-gaizhangshenpi:before {
  content: "\e609";
}

.tecev-wodeshenpi:before {
  content: "\e646";
}

.tecev-zhiliangbaozheng:before {
  content: "\e622";
}

.tecev-kehufuwuzhiliangpinggu:before {
  content: "\e61d";
}

.tecev-weixiu:before {
  content: "\e61e";
}

.tecev-1:before {
  content: "\e621";
}

.tecev-dengdaixuncha:before {
  content: "\e649";
}

.tecev-zhiliangbz:before {
  content: "\e669";
}

.tecev-weixiu1:before {
  content: "\e62e";
}

.tecev-repire:before {
  content: "\e600";
}

.tecev-webicon207:before {
  content: "\e685";
}

.tecev-tongyongleixunchadian:before {
  content: "\ea55";
}

.tecev-tongyongleixunchaluxian:before {
  content: "\ea56";
}

.tecev-yonghu:before {
  content: "\e601";
}

.tecev-zhilianganquan:before {
  content: "\e616";
}

.tecev-boxingzhiliang:before {
  content: "\e628";
}

.tecev-zhiliang-xianxing:before {
  content: "\e88b";
}

.tecev-zhiliang:before {
  content: "\e88c";
}

.tecev-measurementunit:before {
  content: "\e624";
}

.tecev-jiliangfangfa:before {
  content: "\e602";
}

.tecev-yonghu1:before {
  content: "\e60e";
}

.tecev-xunchaguanli:before {
  content: "\e612";
}

.tecev-xunchatongji:before {
  content: "\e636";
}

.tecev-xuncha:before {
  content: "\e667";
}

.tecev-erji-jiliangjifei:before {
  content: "\eac2";
}

.tecev-user-list:before {
  content: "\e60a";
}

.tecev-navicon-jldwsz:before {
  content: "\e65c";
}

.tecev-navicon-jldwz:before {
  content: "\e668";
}

.tecev-navicon-jldw:before {
  content: "\e674";
}

.tecev-danweigongchengzhiliangjianyanjilu:before {
  content: "\e623";
}

.tecev-fenbugongchengzhiliangjianyan:before {
  content: "\e625";
}

.tecev-zhiliang1:before {
  content: "\e617";
}

.tecev-zhiliangfenxi:before {
  content: "\e65e";
}

.tecev-fenbugongchengzhiliangjianyan1:before {
  content: "\e637";
}

.tecev-shebeiliebiao1:before {
  content: "\ea35";
}

.tecev-daochu2:before {
  content: "\e61f";
}

.tecev-shebeiliebiao:before {
  content: "\e615";
}

.tecev-daochu:before {
  content: "\e65f";
}

.tecev-daochu1:before {
  content: "\e673";
}

.tecev-daochuPDF:before {
  content: "\e6c9";
}

.tecev-download:before {
  content: "\e639";
}

