<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布公告</title>
    <include file="Public:layerHeader"/>
</head>
<style>
    .layui-card-header{height: 80px;}
    .notic_date{
        font-weight: bold;
        font-size: 16px;
    }
    .file_list{
        margin-bottom: 20px;
    }
    .file_list ul li{
        margin-top: 10px;
    }
    .show_file{
        color:#01AAED;
        cursor: pointer;
        margin: 0 15px;
    }
    .del_file{
        color:#01AAED;
        cursor: pointer;
    }
    .addIcon{
        z-index: 99;
        position: absolute;
        left: 330px;
        top: 63px;
        cursor: pointer;
        color: #0a8ddf;
    }
</style>
<body>
<div class="containDiv">
    <div class="layui-fluid">
        <div class="layui-card layuiAdmin-msg-detail">
            <div class="layui-card-header">
                <h1 style="text-align: center">{$emerInfo.emergency}</h1>
                <p class="notic_date">
                    <span style="display: block;float: left;width: 300px;">发布时间：{$emerInfo.add_time}</span>
                    <span style="display: block;float: right;width: 160px;">发布者：{$emerInfo.username}</span>
                </p>
            </div>
            <div class="layui-card-body layui-text">
                <div class="layadmin-text">
                    {$emerInfo.content}
                </div>
            </div>
            <div class="layui-form-item allfiles">
                <div class="layui-form-label" style="float: left;">相关文件：</div>
                <div style="float: left;">
                    <div class="file_list">
                        <ul id="add_files">
                            <volist name="files" id="vo">
                                <li>
                                    <span>{$vo.img} {$vo.file_name}</span>
                                    <span class="show_file" data-path="{$vo['file_url']}" data-name="{$vo['file_name']}">预览</span>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ilayui-form-item tbcenter printbtn" style=" margin: 30px auto;">
    <button class="layui-btn" id="print" lay-submit lay-filter="print"><i class="layui-icon layui-icon-zprinter-l" style="font-size: 16px;"></i>打印预览</button>
</div>
</body>
</html>
<script>
    //预览
    $(document).on('click', '.show_file', function () {
        var path = $(this).data('path');
        var name = $(this).data('name');
        var url = admin_name+'/Tool/showFile';
        top.layer.open({
            id: 'showFiles',
            type: 2,
            title: name + '相关文件查看',
            scrollbar: false,
            offset: 'r',//弹窗位置固定在右边
            anim: 2, //动画风格
            area: ['75%', '100%'],
            closeBtn: 1,
            content: [url + '?path=' + path + '&filename=' + name]
        });
        return false;
    });
    $(function () {
        var beforePrint = function() {
            $('.printbtn').hide();
        };

        var afterPrint = function() {
            $('.printbtn').show();
        };
        window.onbeforeprint = beforePrint;
        window.onafterprint = afterPrint;
        $('#print').on('click',function () {
            window.print();
            if (window.matchMedia) {
                var mediaQueryList = window.matchMedia('print');
                mediaQueryList.addListener(function(mql) {
                    if (mql.matches) {
                        beforePrint();
                    } else {
                        afterPrint();
                    }
                });
            }
        });
    });
</script>