<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="Public:layerHeader"/>
    <style>
        .layui-form-pane .layui-input-block {
            margin-left: 115px;
            left: -2px;
        }
        .cusquote1 {
            padding: 5px !important;
            font-size: 12px;
            color: red;
        }
    </style>
</head>
<body>
<div class="containDiv">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加角色表单</legend>
    </fieldset>
    <blockquote class="layui-elem-quote cusquote1">
        用户权限基于角色进行控制，建议添加角色后对角色进行权限分配以及用户维护！！！
    </blockquote>
    <div class="layer-to-top">
        <form class="layui-form">
            <input type="hidden" name="is_default" value="{$is_default}">
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="rquireCoin"> * </span> 角色名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="rolename" value="" placeholder="请输入角色名称" required  lay-verify="required|rolename"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block" id="status">
                    <input type="radio" name="status" value="1" title="启用" checked>
                    <input type="radio" name="status" value="0" title="停用">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block">
                    <textarea name="remark" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div style="text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="addRole"><i class="layui-icon" >&#xe609;</i> 保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon">ဂ</i> 重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<script>
    layui.use('controller/basesetting/privilege/addRole', layui.factory('controller/basesetting/privilege/addRole'));
</script>