<?php if($menuData = get_menu_name('Purchases','Tendering','tbSubmitList')):?>
<title>{$menuData['actionname']}</title>
<?php endif?>
<script>
    //解决ie placeholder兼容性
    $(function(){ $('input, textarea').placeholder(); });
</script>
<div class="layui-fluid" id="LAY-Purchases-Tendering-tbSubmitList" >
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">&#xe615;</i> 查询</div>
                <div class="layui-card-body">
                    <form action="" class="layui-form">
                        <div class="layui-form-item" style="margin-bottom: 0px; margin-top: 10px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">申请科室：</label>
                                <div class="layui-input-inline">
                                    <select name="departids" xm-select="tbSubmitListDepartment" xm-select-search="">
                                        <option value="">请选择申请科室</option>
                                        <volist name="departments" id="vo">
                                            <option value="{$vo.departid}">{$vo.department}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label cuslabelwidth">设备名称：</label>
                                <div class="layui-input-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control bsSuggest"  id="tpSubmitName" placeholder="请输入设备名称" name="assets_name">
                                        <div class="input-group-btn">
                                            <ul class="dropdown-menu dropdown-menu-right ulwidth" role="menu"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">购置类型：</label>
                                <div class="layui-input-inline">
                                    <select name="status" lay-search="" >
                                        <option value=""></option>
                                        <option value="0">报废新增</option>
                                        <option value="1">添置</option>
                                        <option value="2">新增</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">提交状态：</label>
                                <div class="layui-input-inline">
                                    <select name="status" lay-search="" >
                                        <option value=""></option>
                                        <option value="0">已提交</option>
                                        <option value="1">未提交</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">申请日期：</label>
                                <div class="layui-input-inline" style="width: 83px;">
                                    <input class="layui-input" placeholder="开始时间" style="cursor: pointer;" name="startDate" id="getRepairListsStartDate">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 83px;">
                                    <input class="layui-input" placeholder="结束时间" style="cursor: pointer;" name="endDate" id="getRepairListsEndDate">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn" type="button" lay-submit="" lay-filter="borrowAssetsListSearch" id="borrowAssetsListSearch">
                                    <i class="layui-icon">&#xe615;</i> 搜 索
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row table-list">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="fl">
                        <i class="layui-icon">&#xe62d;</i> 标书提交列表
                    </div>
                </div>
                <div class="layui-card-body">
                    <table id="tbSubmitList" lay-filter="tbSubmitData"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tbSubmitList = "{$tbSubmitList}";
</script>
<script>
    layui.use('purchases/tendering/tbSubmitList', layui.factory('purchases/tendering/tbSubmitList'));
</script>