<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务的医院</title>
</head>
<style type="text/css">
    table
    {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }
    table td, table th
    {
        border: 1px solid #cad9ea;
        color: #666;
        height: 30px;
    }
    table thead th
    {
        background-color: #CCE8EB;
    }
    table tr:nth-child(odd)
    {
        background: #fff;
    }
    table tr:nth-child(even)
    {
        background: #F5FAFA;
    }
</style>

<body>
<div style="height: 80px;text-align: center;font-size: 33px;font-weight: bold;line-height: 80px;">
    服务医院设备总值列表
</div>
<div style="width: 47%;float: left">
    <table>
        <thead>
        <tr>
            <th style="width: 80px;">序号</th>
            <th style="width: 300px;">医院名称</th>
            <th style="width: 180px;">设备总值（万元）</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>1</td><td>中山大学附属第一医院</td><td>17,692</td></tr>
        <tr><td>2</td><td>龙岩市第一医院</td><td>65,814</td></tr>
        <tr><td>3</td><td>暨南大学附属顺德医院</td><td>50,000</td></tr>
        <tr><td>4</td><td>北京大学国际医院</td><td>120,603</td></tr>
        <tr><td>5</td><td>郴州市第三人民医院</td><td>17,656</td></tr>
        <tr><td>6</td><td>桂林医学院第二附属医院</td><td>44,292</td></tr>
        <tr><td>7</td><td>鹤山市妇幼保健院</td><td>5,418</td></tr>
        <tr><td>8</td><td>南平市建阳第一医院</td><td>11,000</td></tr>
        <tr><td>9</td><td>锦州医科大学附属第一医院</td><td>72,838</td></tr>
        <tr><td>10</td><td>莆田学院附属医院</td><td>50,000</td></tr>
        <tr><td>11</td><td>鹤山市中医院</td><td>5,350</td></tr>
        <tr><td>12</td><td>龙岩市永定区医院</td><td>5,173</td></tr>
        <tr><td>13</td><td>广州开发区医院</td><td>15,000</td></tr>
        <tr><td>14</td><td>海南一龄医疗产业发展有限公司</td><td>22,316</td></tr>
        <!--        <tr><td>15</td><td>湖州南太湖医院</td><td>3,000</td></tr>-->
        <!--        <tr><td>16</td><td>深圳市人民医院</td><td>200,000</td></tr>-->
        <!--        <tr><td>17</td><td>海口市中医医院</td><td>12,244</td></tr>-->
        <!--        <tr><td>18</td><td>玉山县人民医院</td><td>11,800</td></tr>-->
        <!--        <tr><td>19</td><td>广东省人民医院</td><td>200,000</td></tr>-->
        <!--        <tr><td>20</td><td>广州新市医院有限公司</td><td>6,716</td></tr>-->
        <!--        <tr><td>21</td><td>福泉市第一人民医院</td><td>10,000</td></tr>-->
        <!--        <tr><td>22</td><td>贵阳市第三人民医院</td><td>10,000</td></tr>-->
        <!--        <tr><td>23</td><td>福泉市中医医院</td><td>5,000</td></tr>-->
        <!--        <tr><td>24</td><td>台江县人民医院</td><td>3,000</td></tr>-->
        <!--        <tr><td>25</td><td>贵州省强制戒赌康复医院</td><td>3,000</td></tr>-->
        <!--        <tr><td>26</td><td>盘州市人民医院</td><td>10,000</td></tr>-->
        <!--        <tr><td>27</td><td>贵阳市第一人民医院</td><td>30,000</td></tr>-->
        <!--        <tr><td colspan="2">合计</td><td>1,007,912</td></tr>-->
        </tbody>
    </table>
</div>
<div style="width: 47%;float: left">
    <table>
        <thead>
        <tr>
            <th style="width: 80px;">序号</th>
            <th style="width: 300px;">医院名称</th>
            <th style="width: 180px;">设备总值（万元）</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>15</td><td>湖州南太湖医院</td><td>3,000</td></tr>
        <tr><td>16</td><td>深圳市人民医院</td><td>200,000</td></tr>
        <tr><td>17</td><td>海口市中医医院</td><td>12,244</td></tr>
        <tr><td>18</td><td>玉山县人民医院</td><td>11,800</td></tr>
        <tr><td>19</td><td>广东省人民医院</td><td>200,000</td></tr>
        <tr><td>20</td><td>广州新市医院有限公司</td><td>6,716</td></tr>
        <tr><td>21</td><td>福泉市第一人民医院</td><td>10,000</td></tr>
        <tr><td>22</td><td>贵阳市第三人民医院</td><td>10,000</td></tr>
        <tr><td>23</td><td>福泉市中医医院</td><td>5,000</td></tr>
        <tr><td>24</td><td>台江县人民医院</td><td>3,000</td></tr>
        <tr><td>25</td><td>贵州省强制戒赌康复医院</td><td>3,000</td></tr>
        <tr><td>26</td><td>盘州市人民医院</td><td>10,000</td></tr>
        <tr><td>27</td><td>贵阳市第一人民医院</td><td>30,000</td></tr>
        <tr><td colspan="2">合计</td><td>1,007,912</td></tr>
        </tbody>
    </table>
</div>

</body>
</html>

