<p class="copyright">  © 2019</p>
<div class="buttomNav">
    <ul>
        <div class="layui-col-xs6">
            <li>
                <a href="/M/Index/testindex.html?go=true">首页</a>
                <div class="br1px"></div>
            </li>
        </div>
        <!--<div class="layui-col-xs4">-->
            <!--<li>-->
                <!--<a class="menu">菜单</a>-->
                <!--<div class="br1px"></div>-->
                <!--&lt;!&ndash;<div class="menuList">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">测试菜单</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">测试菜单1</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">测试菜单2</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="#">测试菜单3</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</li>-->
        <!--</div>-->
        <div class="layui-col-xs6">
            <li>
                <a class="menu">我的</a>
                <div class="br1px"></div>
                <div class="menuList">
                    <ul>
                        <!--<li><a href="#">个人资料</a></li>-->
                        <li><a href="/M/Login/logout.html?go=true">退出登录</a></li>
                    </ul>
                </div>
            </li>
        </div>
    </ul>
</div>
<script src="__PUBLIC__/mobile/js/weui/jquery-weui.min.js"></script>