<script type='text/javascript' src='__PUBLIC__/mobile/msui/js/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='__PUBLIC__/mobile/msui/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='__PUBLIC__/mobile/msui/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='__PUBLIC__/mobile/msui/js/config.js' charset='utf-8'></script>
<script type='text/javascript' src='__PUBLIC__/mobile/msui/js/mysui.js' charset='utf-8'></script>