<div class="bar bar-header-secondary" style="padding: 0;">
    <div class="searchbar row " style="padding: 0.1rem 0;margin: 0;">
        <div class="searchbar row mysearch" style="margin: 0;">
            <div class="search-input col-80" style="margin-left: 1%;">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id='search' placeholder='输入设备名称或编号查询'/>
            </div>
            <div class="clicksea">
                <a class="button button-fill button-primary col-100 keyWordsearch">搜索</a>
            </div>
            <div class=" sweep">
                <img src="/public/mobile/images/scan_.png"/>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>