<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看招标明细</title>
    <include file="Public:layerHeader"/>
    <style>
        .layui-form-label{
            width: 90px;
        }
        #addTenderFile{
            float: right;font-size: 12px;font-weight: normal;color: #0a8ddf;cursor: pointer;
        }
    </style>
    <script>
        var showTender = "{$showTender}";
    </script>
</head>
<body>
<div class="containDiv">
    <div class="layui-row">
        <div class="margin-bottom-15">
            <blockquote class="layui-elem-quote" style="padding: 5px 15px;">
                基础信息
            </blockquote>
            <table class="layui-table read-table" lay-even lay-size="sm">
                <tbody>
                <tr>
                    <th>申请科室：</th>
                    <td>{$tenderInfo.department}</td>
                </tr>
                <tr>
                    <th>项目名称：</th>
                    <td>{$tenderInfo.project_name}</td>
                </tr>
                <tr>
                    <th>申请单号：</th>
                    <td>{$tenderInfo.apply_num}</td>
                </tr>
                <tr>
                    <th>申请日期：</th>
                    <td>{$tenderInfo.apply_date}</td>
                </tr>
                <tr>
                    <th>设备名称：</th>
                    <td>{$tenderInfo.assets_name}</td>
                </tr>
                <tr>
                    <th>设备单位：</th>
                    <td>{$tenderInfo.unit}</td>
                </tr>
                <tr>
                    <th>设备数量：</th>
                    <td>{$tenderInfo.nums}</td>
                </tr>
                <tr>
                    <th>设备单价：</th>
                    <td>{$tenderInfo.market_price}</td>
                </tr>
                <tr>
                    <th>预计总价：</th>
                    <td>{$tenderInfo.total_budget}</td>
                </tr>
                <tr>
                    <th>是否进口：</th>
                    <td>{$tenderInfo.is_import_name}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="margin-bottom-15">
            <blockquote class="layui-elem-quote" style="padding: 5px 15px;margin-bottom: -10px;">
                附件信息
            </blockquote>
            <table class="layui-table read-table-l" lay-even lay-size="sm">
                <tbody>
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col>
                </colgroup>
                <tr>
                    <th style="text-align: left !important;">文件名称</th>
                    <th style="text-align: left !important;">文件大小</th>
                    <th style="text-align: left !important;">提交人</th>
                    <th style="text-align: left !important;">上传时间</th>
                    <th style="text-align: left !important;">操作</th>
                </tr>
                <if condition="$files">
                    <volist name="files" id="vo">
                        <tr>
                            <td>{$vo.file_name}</td>
                            <td>{$vo.file_size}</td>
                            <td>{$vo.add_user}</td>
                            <td>{$vo.add_time}</td>
                            <td>
                                <div class="layui-btn-group">
                                    <!--<button class="layui-btn layui-btn-xs layui-btn-primary showFile" lay-submit lay-filter="showFile" data-path="{$vo.file_url}" data-name="{$vo.file_name}" data-id="{$vo.file_id}">查看</button>-->
                                    <button class="layui-btn layui-btn-xs downFile" lay-submit lay-filter="downFile" data-path="{$vo.file_url}" data-name="{$vo.file_name}" data-id="{$vo.file_id}">下载</button>
                                </div>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <tr>
                        <td colspan="5" style="text-align: center !important;">暂无相关数据</td>
                    </tr>
                </if>

                </tbody>
            </table>
        </div>
        <div class="margin-bottom-15">
            <blockquote class="layui-elem-quote" style="padding: 5px 15px;">
                招标明细
            </blockquote>
            <table class="layui-table read-table-l" style="margin-top: 0" lay-even lay-size="sm">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="9%">
                    <col width="9%">
                    <col width="8%">
                    <col width="8%">
                    <col>
                </colgroup>
                <tr>
                    <th style="text-align: left !important;">供应商名称</th>
                    <th style="text-align: left !important;">生产厂商</th>
                    <th style="text-align: left !important;">设备型号</th>
                    <th style="text-align: left !important;">品牌</th>
                    <th style="text-align: left !important;">市场价</th>
                    <th style="text-align: left !important;">最终报价</th>
                    <th style="text-align: left !important;">保修年限</th>
                    <th style="text-align: left !important;">最终供货</th>
                    <th style="text-align: left !important;">操作</th>
                </tr>
                <tbody class="supplierList">
                <if condition="$details">
                    <volist name="details" id="vo">
                        <tr class="supdetail">
                            <td>{$vo.supplier_name}</td>
                            <td>{$vo.factory_name}</td>
                            <td>{$vo.model}</td>
                            <td>{$vo.brand}</td>
                            <td>{$vo.market_price}</td>
                            <td>{$vo.company_price}</td>
                            <td>{$vo.guarantee_year}</td>
                            <td>
                                <if condition="$vo['final_select'] eq 1">
                                    <i class="layui-icon layui-icon-zzcheck" style="color: #5FB878"></i>
                                    <else/>
                                    <i class="layui-icon layui-icon-zzban" style="color: #FF5722"></i>
                                </if>
                            </td>
                            <td>
                                <button type="button" class="layui-btn layui-btn-xs  showDetail" data-id="{$vo.detail_id}">查看</button>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <tr class="no-data">
                        <td colspan="9" style="text-align: center !important;">暂无数据</td>
                    </tr>
                </if>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var showTender = "{$showTender}";
</script>
<script>
    layui.use('controller/purchases/tenderRecord/showTender', layui.factory('controller/purchases/tenderRecord/showTender'));
</script>